In [1]:
import requests, json
import pandas as pd
pd.options.display.max_rows = 999

import time, os
import numpy as np

import random
import time

import requests
import json
from bs4 import BeautifulSoup
import PyDST
import re

# BNP data

In [2]:
conn = PyDST.connection(language = 'en')

In [3]:
res = conn.get_tables('06')
res.info

Getting all tables under topic code(s) {topics}

,ID,Description,Variables,Unit,Last updated,First observation,Latest observation,Active
0,PRIS111,Forbrugerprisindeks,"[varegruppe, enhed, tid]",-,2018-08-10T08:00:00,2001M01,2018M07,True
1,PRIS112,Forbrugerprisindeks,"[hovedtal, tid]",pct.,2018-01-10T08:00:00,1980,2017,True
2,PRIS8,"Forbrugerprisindeks, årsgennemsnit","[type, tid]",indeks,2018-01-10T08:00:00,1900,2017,True
3,PRIS9,"Forbrugerprisindeks, gennemsnitlig årlig infla...","[type, tid]",pct.,2018-01-10T08:00:00,1900,2017,True
4,PRIS113,"Forbrugerprisindeks, hovedtal","[type, tid]",indeks,2018-08-10T08:00:00,1980M01,2018M07,True
5,PRIS200,Husstandsopdelte forbrugerprisindeks,"[varegruppe, husstandsgrupper, tid]",indeks,2018-06-29T08:00:00,2006M01,2017M12,True
6,PRIS114,Nettoprisindeks,"[varegruppe, enhed, tid]",indeks,2018-08-10T08:00:00,2001M01,2018M07,True
7,PRIS115,Nettoprisindeks,"[hovedtal, tid]",indeks,2018-01-10T08:00:00,1980,2017,True
8,PRIS116,"Nettoprisindeks, hovedtal","[type, tid]",indeks,2018-08-10T08:00:00,1980M01,2018M07,True
9,PPP,Købekraftpariteter og internationale mængde- o...,"[varegruppe, land, enhed, tid]",-,2017-12-20T08:00:00,2000,2016,True
10,PPP11,Købekraftkorrigerede indeks og værdier per ind...,"[varegrupper, land, enhed, tid]",-,2017-12-20T08:00:00,2000,2016,True
11,PPP1,Prisniveau indeks for fødevarer EU=100,"[varegruppe, land, tid]",-,2016-06-24T09:00:00,2006,2015,True
12,PRIS117,EU-harmoniseret forbrugerprisindeks (HICP),"[varegruppe, enhed, tid]",-,2018-08-10T08:00:00,2006M01,2018M07,True
13,PRIS118,EU-harmoniseret forbrugerprisindeks med konsta...,"[varegruppe, enhed, tid]",-,2018-08-10T08:00:00,2006M01,2018M07,True
14,PRIS119,EU-harmoniseret forbrugerprisindeks,"[hovedtal, tid]",indeks,2018-01-10T08:00:00,1996,2017,True
15,PRIS40,Producentprisindeks for varer,"[branche hovedgrupper, marked, enhed, tid]",-,2018-08-15T08:00:00,2005M01,2018M07,True
16,PRIS42,Producentprisindeks for varer,"[branche standardgrupperinger, tid]",indeks,2018-08-15T08:00:00,2000M01,2018M07,True
17,PRIS41,Importprisindeks for varer,"[branche hovedgrupper, enhed, tid]",-,2018-08-15T08:00:00,2005M01,2018M07,True
18,PRIS43,Producent- og importprisindeks for varer,"[branche hovedgrupper, marked, enhed, tid]",-,2018-08-15T08:00:00,2005M01,2018M07,True
19,PRIS11,Prisindeks for indenlandsk vareforsyning,"[varegruppe, tid]",indeks,2018-08-15T08:00:00,1981M01,2018M07,True
20,PRIS15,Producentprisindeks for tjenester,"[branche, tid]",indeks,2018-06-15T08:00:00,2006K1,2018K1,True
21,PRIS91,Producentprisindeks for renovering og vedligeh...,"[arbejdets art, enhed, tid]",-,2018-04-20T08:00:00,2014,2017,True
22,LPRIS10,Salgspriser på udvalgte landbrugsprodukter,"[produkt, enhed, tid]",-,2018-08-06T08:00:00,2005M01,2018M06,True
23,LPRIS16,Salgspriser på potteplanter,"[potteplante, enhed, tid]",-,2018-08-08T08:00:00,2010M01,2018M07,True
24,LPRIS21,Prisindeks for jordbrugets salg og køb,"[produkt, enhed, tid]",-,2018-06-12T08:00:00,2010K1,2018K1,True
25,LPRIS25,Prisindeks for jordbrugets salg og køb,"[produkt, enhed, tid]",-,2018-04-11T08:00:00,2005,2017,True
26,LPRIS30,Priser for jordbrugets salgsprodukter,"[produkt, enhed, tid]",-,2018-04-11T08:00:00,2005,2017,True
27,LPRIS35,Priser for jordbrugets produktionsfaktorer,"[produkt, enhed, tid]",-,2018-04-11T08:00:00,2005,2017,True
28,FU51,Husstandenes årlige forbrug,"[forbrugsart, husstandsgrupper, prisenhed, tid]",kr. pr. husstand,2018-03-21T08:00:00,1994,2016,True
29,FU6,Sammenhæng mellem indkomster og forbrug,"[type, husstandsgrupper, tid]",kr. pr. husstand,2018-03-21T08:00:00,1993:1995,2015:2016,True
30,FU7,Husstandenes økonomi,"[udvidede husstandsgrupper, økonomiske hovedst...",kr. pr. husstand,2018-03-21T08:00:00,1993:1995,2015:2016,True
31,FU10,Forbrugsundersøgelsen prisfremskrevet,"[forbrugsart, husstandsgrupper, forbrugsunders...",kr. pr. husstand,2015-01-16T09:00:00,2005,2014,True
32,ALKO2,Forbrug og salg af alkohol og tobak pr. indbygger,"[type, tid]",-,2018-06-19T08:00:00,1955,2017,True
33,ALKO3,Forbrug og salg af alkohol,"[type, tid]",indeks,2018-06-19T08:00:00,1955,2017,True
34,ALKO4,Forbrug og salg af alkohol og tobak,"[type, tid]",-,2018-06-19T08:00:00,1955,2017,True
35,VARFORBR,Familiernes besiddelse af elektronik i hjemmet,"[forbrugsart, tid]",pct.,2018-05-02T08:00:00,1990,2018,True
36,FORV1,Forbrugerforventninger (nettotal),"[indikator, tid]",-,2018-08-23T08:00:00,1974M10,2018M08,True
37,EJEN14,Prisindeks for ejendomssalg,"[ejendomskategori, tid]",indeks,2018-08-01T08:00:00,2006M01,2018M05,True
38,EJEN5,Prisindeks for ejendomssalg,"[ejendomskategori, tid]",indeks,2018-06-21T08:00:00,1992K1,2018K1,True
39,EJEN55,Prisindeks for ejendomssalg,"[område, ejendomskategori, tid]",indeks,2018-06-21T08:00:00,1992K1,2018K1,True
40,EJEN6,Prisindeks for ejendomssalg,"[ejendomskategori, tid]",indeks,2017-11-08T08:00:00,1992,2016,True
41,EJEN66,Prisindeks for ejendomssalg,"[område, ejendomskategori, tid]",indeks,2017-11-08T08:00:00,1992,2016,True
42,EJEN13,Ejendomssalg,"[ejendomskategori, nøgletal, tid]",-,2018-08-01T08:00:00,2006M01,2018M05,True
43,EJEN77,Ejendomssalg,"[område, ejendomskategori, nøgletal, overdrage...",-,2018-06-21T08:00:00,1992K1,2018K1,True
44,EJEN88,Ejendomssalg,"[område, ejendomskategori, nøgletal, overdrage...",-,2017-11-08T08:00:00,1992,2016,True
45,EJEN11,Enfamiliehuse og ejerlejligheder,"[salg og indeks, ejendomskategori, tid]",-,2017-11-08T08:00:00,1992,2016,True
46,EJENEU,EU-harmoniseret boligprisindeks (HPI),"[urbaniseringsgrad, udgiftstype, tid]",indeks,2018-06-28T08:00:00,2002K4,2018K1,True
47,TVANG1,Bekendtgjorte tvangsauktioner,"[type, tid]",antal,2018-08-06T08:00:00,1993M01,2018M07,True
48,TVANG3,Bekendtgjorte tvangsauktioner,"[område, tid]",antal,2018-02-06T08:00:00,2012,2017,True
49,TVANG2,Bekendtgjorte tvangsauktioner,"[type, tid]",antal,2018-07-05T08:00:00,1979K1,2018K2,True
50,BIL5,Nyregistrerede motorkøretøjer,"[køretøjstype, tid]",antal,2018-08-15T08:00:00,1992M01,2018M07,True
51,BIL55,Nyregistrerede personbiler,"[registreringsform, tid]",antal,2018-08-15T08:00:00,2007M01,2018M07,True
52,BIL6,"Nyregistreringer, brugtvognshandel og bestand mv.","[køretøjstype, enhed, tid]",antal,2018-08-15T08:00:00,2000M01,2018M07,True
53,BIL50,Nyregistrerede personbiler,"[ejerforhold, bil segment, enhed, tid]",-,2018-08-15T08:00:00,2004M01,2018M07,True
54,EE1,Nyregistrerede personbiler,"[energieffektivitet, ejerforhold, drivmiddel, ...",-,2017-09-22T09:00:00,1997M07,2017M06,True
55,EE2,Nyregistrerede benzindrevne personbiler,"[kilometer pr. liter, ejerforhold, tid]",antal,2017-09-22T09:00:00,1997H2,2017H1,True
56,EE3,Nyregistrerede dieseldrevne personbiler,"[kilometer pr. liter, ejerforhold, tid]",antal,2017-09-22T09:00:00,1997H2,2017H1,True
57,BIL600,Familiernes bilkøb (faktiske tal),"[område, købsmønster, tid]",antal,2018-06-29T08:00:00,2006,2017,True
58,BIL611,Familiernes bilkøb (andele og fordelinger),"[område, enhed, købsmønster, tid]",pct.,2018-06-29T08:00:00,2006,2017,True
59,BIL62,Familiernes bilkøb (faktiske tal),"[købstype, familietype, købsmønster, tid]",antal,2018-06-29T08:00:00,1999,2017,True
60,BIL63,Familiernes bilkøb (andele og fordelinger),"[enhed, familietype, købsmønster, tid]",pct.,2018-06-29T08:00:00,1999,2017,True
61,BIL64,Familiernes bilkøb (faktiske tal),"[købstype, uddannelse, købsmønster, tid]",antal,2018-06-29T08:00:00,1999,2016,True
62,BIL65,Familiernes bilkøb (andele og fordelinger),"[enhed, uddannelse, købsmønster, tid]",pct.,2018-06-29T08:00:00,1999,2016,True
63,BIL66,Familiernes bilkøb (faktiske tal),"[købstype, indkomst, købsmønster, tid]",antal,2018-06-29T08:00:00,1999,2016,True
64,BIL67,Familiernes bilkøb (andele og fordelinger),"[enhed, indkomst, købsmønster, tid]",pct.,2018-06-29T08:00:00,1999,2016,True
65,BIL68,Familiernes bilkøb (faktiske tal),"[købstype, boligforhold, købsmønster, tid]",antal,2018-06-29T08:00:00,1999,2016,True
66,BIL69,Familiernes bilkøb (andele og fordelinger),"[enhed, boligforhold, købsmønster, tid]",pct.,2018-06-29T08:00:00,1999,2016,True
67,BIL70,Familiernes bilkøb (faktiske tal),"[købstype, socioøkonomisk status, købsmønster,...",antal,2018-06-29T08:00:00,1999,2016,True
68,BIL71,Familiernes bilkøb (andele og fordelinger),"[enhed, socioøkonomisk status, købsmønster, tid]",pct.,2018-06-29T08:00:00,1999,2016,True
69,BIL72,Familiernes bilkøb (faktiske tal),"[bystørrelse, købsmønster, tid]",antal,2018-06-29T08:00:00,2016,2017,True
70,BIL73,Familiernes bilkøb (andele og fordelinger),"[enhed, bystørrelse, købsmønster, tid]",pct.,2018-06-29T08:00:00,2016,2017,True
71,BIL800,Familiernes bilrådighed (faktiske tal),"[område, rådighedsmønster, tid]",antal,2018-07-02T08:00:00,2007,2018,True
72,BIL811,Familiernes bilrådighed (andele og fordelinger),"[område, enhed, rådighedsmønster, tid]",pct.,2018-07-02T08:00:00,2007,2018,True
73,BIL82,Familiernes bilrådighed (faktiske tal),"[bestand, familietype, rådighedsmønster, tid]",antal,2018-07-02T08:00:00,2000,2018,True
74,BIL83,Familiernes bilrådighed (andele og fordelinger),"[enhed, familietype, rådighedsmønster, tid]",pct.,2018-07-02T08:00:00,2000,2018,True
75,BIL84,Familiernes bilrådighed (faktiske tal),"[bestand, uddannelse, rådighedsmønster, tid]",antal,2018-07-02T08:00:00,2000,2017,True
76,BIL85,Familiernes bilrådighed (andele og fordelinger),"[enhed, uddannelse, rådighedsmønster, tid]",pct.,2018-07-02T08:00:00,2000,2017,True
77,BIL86,Familiernes bilrådighed (faktiske tal),"[bestand, indkomst, rådighedsmønster, tid]",antal,2018-07-02T08:00:00,2000,2017,True
78,BIL87,Familiernes bilrådighed (andele og fordelinger),"[enhed, indkomst, rådighedsmønster, tid]",pct.,2018-07-02T08:00:00,2000,2017,True
79,BIL88,Familiernes bilrådighed (faktiske tal),"[bestand, boligforhold, rådighedsmønster, tid]",antal,2018-07-02T08:00:00,2000,2017,True
80,BIL89,Familiernes bilrådighed (andele og fordelinger),"[enhed, boligforhold, rådighedsmønster, tid]",pct.,2018-07-02T08:00:00,2000,2017,True
81,BIL90,Familiernes bilrådighed (faktiske tal),"[bestand, socioøkonomisk status, rådighedsmøns...",antal,2018-07-02T08:00:00,2000,2017,True
82,BIL91,Familiernes bilrådighed (andele og fordelinger),"[enhed, socioøkonomisk status, rådighedsmønste...",pct.,2018-07-02T08:00:00,2000,2017,True
83,BIL92,Familiernes bilrådighed (faktiske tal),"[bystørrelse, rådighedsmønster, tid]",antal,2018-07-02T08:00:00,2013,2018,True
84,BIL93,Familiernes bilrådighed (andele og fordelinger),"[enhed, bystørrelse, rådighedsmønster, tid]",pct.,2018-07-02T08:00:00,2013,2018,True
85,BYG42,Byggeomkostningsindeks for boliger,"[hovedindeks, delindeks, art, enhed, tid]",-,2018-06-08T08:00:00,2003K1,2018K1,True
86,BYG52,Byggeomkostningsindeks for boliger,"[hovedindeks, delindeks, art, enhed, tid]",-,2018-04-17T08:00:00,2003,2017,True
87,BYG61,Omkostningsindeks for anlæg,"[indekstype, enhed, tid]",indeks,2018-08-10T08:00:00,1986K3,2018K2,True
88,BYG71,Omkostningsindeks for anlæg,"[indekstype, enhed, tid]",-,2018-02-06T08:00:00,1987,2017,True
89,BYG91,Omkostningsindeks for dagrenovation og slamsug...,"[indekstype, enhed, tid]",indeks,2018-08-10T08:00:00,1997K1,2018K2,True

In [4]:
conn.get_metadata('NKN1').unit

Getting metadata for table NKN1

'-'

In [5]:
resp = conn.get_data(
                table_id = 'NKN1',
                variables = ['transakt', 'prisenhed', 'sæson', 'tid'])
#data = resp.df

            No values selected! Setting values to all ('*')

Getting table NKN1, variables are ['transakt', 'prisenhed', 'sæson', 'tid']
        values are {'transakt': ['*'], 'prisenhed': ['*'], 'sæson': ['*'], 'tid': ['*']}

In [6]:
data = resp.df
data

,TRANSAKT,PRISENHED,SÆSON,TID,INDHOLD
0,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1990Q1,210.2
1,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1990Q2,218.1
2,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1990Q3,209.5
3,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1990Q4,217.8
4,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1991Q1,220.2
5,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1991Q2,226.1
6,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1991Q3,219.6
7,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1991Q4,224.6
8,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1992Q1,228.1
9,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1992Q2,231.1
10,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1992Q3,227.1
11,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1992Q4,236.7
12,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1993Q1,227.8
13,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1993Q2,232.7
14,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1993Q3,227.8
15,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1993Q4,240.2
16,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1994Q1,238.3
17,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1994Q2,252.4
18,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1994Q3,242.8
19,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1994Q4,259.8
20,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1995Q1,254.3
21,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1995Q2,261.5
22,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1995Q3,252.8
23,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1995Q4,267.8
24,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1996Q1,260.8
25,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1996Q2,275.2
26,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1996Q3,269.6
27,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1996Q4,282.5
28,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1997Q1,273.9
29,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1997Q2,291.8
30,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1997Q3,281.8
31,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1997Q4,298.6
32,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1998Q1,288.4
33,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1998Q2,294.3
34,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1998Q3,293.8
35,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1998Q4,309.5
36,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1999Q1,296.3
37,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1999Q2,310.0
38,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1999Q3,306.6
39,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1999Q4,328.6
40,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2000Q1,316.9
41,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2000Q2,330.4
42,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2000Q3,327.4
43,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2000Q4,352.2
44,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2001Q1,329.5
45,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2001Q2,342.1
46,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2001Q3,340.5
47,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2001Q4,359.5
48,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2002Q1,337.8
49,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2002Q2,355.0
50,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2002Q3,350.0
51,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2002Q4,367.4
52,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2003Q1,347.3
53,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2003Q2,356.8
54,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2003Q3,354.6
55,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2003Q4,378.1
56,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2004Q1,360.6
57,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2004Q2,375.3
58,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2004Q3,373.2
59,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2004Q4,397.0
60,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2005Q1,372.7
61,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2005Q2,401.1
62,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2005Q3,395.8
63,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2005Q4,416.5
64,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2006Q1,399.6
65,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2006Q2,427.5
66,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2006Q3,421.5
67,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2006Q4,433.7
68,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2007Q1,416.1
69,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2007Q2,431.8
70,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2007Q3,432.7
71,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2007Q4,458.3
72,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2008Q1,432.8
73,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2008Q2,456.7
74,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2008Q3,454.3
75,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2008Q4,457.7
76,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2009Q1,420.8
77,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2009Q2,426.6
78,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2009Q3,429.2
79,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2009Q4,445.5
80,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2010Q1,430.5
81,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2010Q2,454.6
82,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2010Q3,455.8
83,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2010Q4,470.0
84,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2011Q1,449.7
85,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2011Q2,466.6
86,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2011Q3,456.5
87,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2011Q4,474.0
88,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2012Q1,457.6
89,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2012Q2,477.7
90,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2012Q3,474.1
91,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2012Q4,485.6
92,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2013Q1,464.3
93,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2013Q2,487.5
94,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2013Q3,482.2
95,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2013Q4,495.7
96,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2014Q1,479.6
97,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2014Q2,495.2
98,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2014Q3,493.7
99,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2014Q4,512.7
100,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2015Q1,494.8
101,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2015Q2,512.7
102,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2015Q3,503.5
103,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2015Q4,516.1
104,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2016Q1,496.2
105,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2016Q2,522.6
106,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2016Q3,511.7
107,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2016Q4,535.4
108,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2017Q1,526.0
109,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2017Q2,542.9
110,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2017Q3,529.8
111,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2017Q4,550.9
112,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,2018Q1,521.5
113,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1990Q1,210.5
114,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1990Q2,215.9
115,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1990Q3,214.4
116,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1990Q4,214.7
117,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1991Q1,222.6
118,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1991Q2,221.8
119,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1991Q3,224.7
120,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1991Q4,221.4
121,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1992Q1,228.7
122,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1992Q2,229.0
123,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1992Q3,232.3
124,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1992Q4,233.0
125,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1993Q1,230.1
126,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1993Q2,229.5
127,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1993Q3,233.2
128,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1993Q4,235.6
129,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1994Q1,242.9
130,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1994Q2,247.1
131,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1994Q3,248.7
132,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1994Q4,254.7
133,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1995Q1,257.4
134,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1995Q2,258.0
135,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1995Q3,258.6
136,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1995Q4,262.4
137,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1996Q1,264.5
138,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1996Q2,271.8
139,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1996Q3,275.5
140,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1996Q4,276.1
141,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1997Q1,281.5
142,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1997Q2,285.9
143,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1997Q3,287.5
144,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1997Q4,291.2
145,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1998Q1,293.4
146,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1998Q2,292.4
147,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1998Q3,299.2
148,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1998Q4,300.9
149,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1999Q1,304.0
150,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1999Q2,307.1
151,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1999Q3,311.8
152,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,1999Q4,318.7
153,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2000Q1,324.2
154,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2000Q2,329.7
155,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2000Q3,332.4
156,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2000Q4,340.6
157,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2001Q1,337.5
158,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2001Q2,341.4
159,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2001Q3,345.1
160,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2001Q4,347.5
161,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2002Q1,349.7
162,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2002Q2,350.9
163,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2002Q3,354.6
164,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2002Q4,355.1
165,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2003Q1,357.1
166,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2003Q2,355.2
167,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2003Q3,358.9
168,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2003Q4,365.5
169,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2004Q1,371.4
170,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2004Q2,373.2
171,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2004Q3,377.2
172,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2004Q4,384.3
173,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2005Q1,387.5
174,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2005Q2,395.2
175,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2005Q3,399.6
176,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2005Q4,403.7
177,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2006Q1,412.1
178,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2006Q2,425.0
179,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2006Q3,424.4
180,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2006Q4,420.8
181,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2007Q1,429.6
182,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2007Q2,429.2
183,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2007Q3,434.6
184,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2007Q4,445.4
185,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2008Q1,450.7
186,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2008Q2,450.0
187,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2008Q3,455.8
188,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2008Q4,445.0
189,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2009Q1,433.5
190,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2009Q2,423.8
191,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2009Q3,430.5
192,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2009Q4,434.3
193,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2010Q1,444.2
194,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2010Q2,449.8
195,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2010Q3,457.4
196,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2010Q4,459.5
197,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2011Q1,461.5
198,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2011Q2,462.6
199,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2011Q3,458.9
200,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2011Q4,463.9
201,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Seasonally adjusted,2012Q1,468.6

In [7]:
data['PRISENHED'].unique()

array(['Current prices, (bill. DKK.)',
       'Period-to-period real growth in per cent',
       'Pr. capita. Current prices, (1000 DKK.)',
       '2010-prices, chained values, (bill. DKK.)',
       'Contribution to GDP growth, (percentage point)',
       'Pr. capita, 2010-prices, chained values, (1000 DKK.)'],
      dtype=object)

In [8]:
BNP=data[(data['PRISENHED']=='2010-prices, chained values, (bill. DKK.)') & 
     (data['TRANSAKT']=='B.1*g Gross domestic product') & 
     (data['SÆSON']=='Non-seasonally adjusted') ]

In [9]:
BNP_1=data[(data['PRISENHED']=='2010-prices, chained values, (bill. DKK.)') & 
     (data['TRANSAKT']=='B.1*g Gross domestic product') & 
     (data['SÆSON']=='Seasonally adjusted') ]

In [10]:
BNP.columns=['TRANSAKT', 'PRICE UNIT', 'SEASON', 'TIME', 'GDP, BILLIONS OF DKK']

In [11]:
BNP_1.columns=['TRANSAKT', 'PRICE UNIT', 'SEASON', 'TIME', 'GDP, BILLIONS OF DKK']

In [12]:
BNP

,TRANSAKT,PRICE UNIT,SEASON,TIME,"GDP, BILLIONS OF DKK"
678,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1990Q1,318.9
679,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1990Q2,328.5
680,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1990Q3,316.4
681,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1990Q4,324.9
682,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1991Q1,321.9
683,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1991Q2,330.4
684,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1991Q3,322.6
685,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1991Q4,331.7
686,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1992Q1,329.1
687,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1992Q2,331.3
688,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1992Q3,329.5
689,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1992Q4,342.3
690,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1993Q1,329.0
691,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1993Q2,334.5
692,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1993Q3,323.7
693,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1993Q4,345.1
694,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1994Q1,338.5
695,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1994Q2,356.0
696,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1994Q3,341.9
697,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1994Q4,366.9
698,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1995Q1,357.5
699,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1995Q2,363.2
700,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1995Q3,351.7
701,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1995Q4,373.4
702,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1996Q1,360.0
703,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1996Q2,376.9
704,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1996Q3,365.7
705,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1996Q4,385.1
706,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1997Q1,371.5
707,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1997Q2,392.2
708,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1997Q3,376.3
709,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1997Q4,396.3
710,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1998Q1,385.0
711,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1998Q2,389.5
712,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1998Q3,387.1
713,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1998Q4,408.7
714,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1999Q1,391.1
715,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1999Q2,404.2
716,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1999Q3,397.3
717,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1999Q4,424.0
718,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2000Q1,406.0
719,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2000Q2,418.8
720,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2000Q3,413.2
721,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2000Q4,439.3
722,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2001Q1,410.9
723,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2001Q2,421.5
724,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2001Q3,418.6
725,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2001Q4,440.1
726,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2002Q1,411.4
727,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2002Q2,428.7
728,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2002Q3,419.7
729,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2002Q4,439.1
730,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2003Q1,416.3
731,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2003Q2,424.0
732,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2003Q3,418.4
733,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2003Q4,446.9
734,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2004Q1,423.4
735,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2004Q2,438.7
736,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2004Q3,431.8
737,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2004Q4,457.1
738,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2005Q1,426.3
739,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2005Q2,455.8
740,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2005Q3,443.9
741,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2005Q4,466.0
742,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2006Q1,445.7
743,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2006Q2,473.2
744,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2006Q3,462.1
745,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2006Q4,481.1
746,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2007Q1,456.1
747,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2007Q2,467.8
748,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2007Q3,465.6
749,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2007Q4,489.5
750,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q1,459.5
751,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q2,475.6
752,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q3,463.6
753,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q4,470.6
754,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q1,439.4
755,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q2,442.4
756,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q3,439.5
757,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q4,456.3
758,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2010Q1,435.5
759,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2010Q2,452.6
760,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2010Q3,453.5
761,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2010Q4,469.4
762,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2011Q1,446.9
763,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2011Q2,462.9
764,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2011Q3,452.7
765,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2011Q4,472.7
766,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2012Q1,449.4
767,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2012Q2,461.2
768,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2012Q3,456.7
769,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2012Q4,472.1
770,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2013Q1,448.4
771,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2013Q2,467.6
772,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2013Q3,462.1
773,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2013Q4,478.4
774,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2014Q1,456.4
775,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2014Q2,469.9
776,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2014Q3,471.4
777,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2014Q4,488.8
778,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2015Q1,466.4
779,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2015Q2,483.9
780,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2015Q3,476.0
781,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2015Q4,490.5
782,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2016Q1,469.4
783,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2016Q2,495.3
784,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2016Q3,484.8
785,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2016Q4,504.9
786,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2017Q1,493.6
787,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2017Q2,504.2
788,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2017Q3,489.7
789,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2017Q4,511.5
790,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2018Q1,486.7

In [13]:
BNP_1

,TRANSAKT,PRICE UNIT,SEASON,TIME,"GDP, BILLIONS OF DKK"
791,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1990Q1,..
792,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1990Q2,..
793,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1990Q3,..
794,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1990Q4,..
795,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1991Q1,326.6
796,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1991Q2,325.4
797,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1991Q3,329.5
798,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1991Q4,325.2
799,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1992Q1,331.1
800,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1992Q2,329.1
801,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1992Q3,337.3
802,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1992Q4,334.7
803,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1993Q1,332.0
804,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1993Q2,330.3
805,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1993Q3,333.8
806,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1993Q4,336.1
807,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1994Q1,343.9
808,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1994Q2,349.8
809,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1994Q3,351.8
810,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1994Q4,357.8
811,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1995Q1,360.8
812,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1995Q2,359.8
813,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1995Q3,361.3
814,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1995Q4,363.9
815,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1996Q1,364.0
816,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1996Q2,373.8
817,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1996Q3,374.9
818,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1996Q4,375.0
819,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1997Q1,379.7
820,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1997Q2,386.3
821,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1997Q3,385.2
822,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1997Q4,385.1
823,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1998Q1,390.9
824,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1998Q2,388.0
825,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1998Q3,395.1
826,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1998Q4,396.4
827,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1999Q1,400.0
828,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1999Q2,402.0
829,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1999Q3,404.5
830,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1999Q4,410.2
831,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2000Q1,414.2
832,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2000Q2,418.9
833,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2000Q3,420.0
834,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2000Q4,424.1
835,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2001Q1,419.5
836,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2001Q2,421.6
837,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2001Q3,425.4
838,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2001Q4,424.5
839,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2002Q1,424.4
840,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2002Q2,424.3
841,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2002Q3,425.8
842,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2002Q4,424.4
843,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2003Q1,426.7
844,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2003Q2,422.7
845,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2003Q3,424.1
846,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2003Q4,432.0
847,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2004Q1,434.1
848,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2004Q2,436.7
849,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2004Q3,437.7
850,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2004Q4,442.5
851,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2005Q1,440.9
852,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2005Q2,449.5
853,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2005Q3,450.0
854,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2005Q4,451.5
855,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2006Q1,457.2
856,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2006Q2,470.8
857,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2006Q3,467.7
858,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2006Q4,466.4
859,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2007Q1,468.0
860,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2007Q2,465.9
861,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2007Q3,470.2
862,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2007Q4,475.0
863,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2008Q1,474.8
864,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2008Q2,470.4
865,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2008Q3,467.6
866,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2008Q4,456.6
867,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2009Q1,450.1
868,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2009Q2,441.4
869,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2009Q3,442.9
870,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2009Q4,443.3
871,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2010Q1,447.1
872,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2010Q2,450.2
873,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2010Q3,457.3
874,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2010Q4,456.3
875,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2011Q1,457.3
876,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2011Q2,461.9
877,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2011Q3,456.1
878,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2011Q4,459.9
879,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2012Q1,459.5
880,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2012Q2,459.9
881,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2012Q3,460.3
882,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2012Q4,459.6
883,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2013Q1,462.2
884,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2013Q2,462.5
885,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2013Q3,465.4
886,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2013Q4,466.4
887,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2014Q1,467.5
888,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2014Q2,467.2
889,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2014Q3,475.0
890,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2014Q4,476.7
891,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2015Q1,478.7
892,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2015Q2,479.1
893,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2015Q3,480.0
894,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2015Q4,479.1
895,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2016Q1,484.2
896,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2016Q2,487.2
897,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2016Q3,490.0
898,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2016Q4,493.1
899,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2017Q1,504.9
900,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2017Q2,499.3
901,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2017Q3,495.2
902,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2017Q4,499.6
903,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2018Q1,501.8

In [14]:
BNP['YEAR']=BNP['TIME'].apply(lambda x: int(x.split('Q')[0]))
BNP_1['YEAR']=BNP_1['TIME'].apply(lambda x: int(x.split('Q')[0]))

/Users/mariannerasmussen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/mariannerasmussen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
BNP['QUARTER']=BNP['TIME'].apply(lambda x: int(x.split('Q')[1]))
BNP_1['QUARTER']=BNP_1['TIME'].apply(lambda x: int(x.split('Q')[1]))

/Users/mariannerasmussen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/mariannerasmussen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
BNP

,TRANSAKT,PRICE UNIT,SEASON,TIME,"GDP, BILLIONS OF DKK",YEAR,QUARTER
678,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1990Q1,318.9,1990,1
679,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1990Q2,328.5,1990,2
680,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1990Q3,316.4,1990,3
681,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1990Q4,324.9,1990,4
682,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1991Q1,321.9,1991,1
683,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1991Q2,330.4,1991,2
684,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1991Q3,322.6,1991,3
685,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1991Q4,331.7,1991,4
686,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1992Q1,329.1,1992,1
687,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1992Q2,331.3,1992,2
688,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1992Q3,329.5,1992,3
689,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1992Q4,342.3,1992,4
690,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1993Q1,329.0,1993,1
691,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1993Q2,334.5,1993,2
692,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1993Q3,323.7,1993,3
693,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1993Q4,345.1,1993,4
694,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1994Q1,338.5,1994,1
695,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1994Q2,356.0,1994,2
696,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1994Q3,341.9,1994,3
697,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1994Q4,366.9,1994,4
698,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1995Q1,357.5,1995,1
699,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1995Q2,363.2,1995,2
700,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1995Q3,351.7,1995,3
701,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1995Q4,373.4,1995,4
702,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1996Q1,360.0,1996,1
703,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1996Q2,376.9,1996,2
704,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1996Q3,365.7,1996,3
705,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1996Q4,385.1,1996,4
706,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1997Q1,371.5,1997,1
707,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1997Q2,392.2,1997,2
708,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1997Q3,376.3,1997,3
709,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1997Q4,396.3,1997,4
710,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1998Q1,385.0,1998,1
711,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1998Q2,389.5,1998,2
712,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1998Q3,387.1,1998,3
713,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1998Q4,408.7,1998,4
714,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1999Q1,391.1,1999,1
715,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1999Q2,404.2,1999,2
716,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1999Q3,397.3,1999,3
717,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,1999Q4,424.0,1999,4
718,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2000Q1,406.0,2000,1
719,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2000Q2,418.8,2000,2
720,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2000Q3,413.2,2000,3
721,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2000Q4,439.3,2000,4
722,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2001Q1,410.9,2001,1
723,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2001Q2,421.5,2001,2
724,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2001Q3,418.6,2001,3
725,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2001Q4,440.1,2001,4
726,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2002Q1,411.4,2002,1
727,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2002Q2,428.7,2002,2
728,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2002Q3,419.7,2002,3
729,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2002Q4,439.1,2002,4
730,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2003Q1,416.3,2003,1
731,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2003Q2,424.0,2003,2
732,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2003Q3,418.4,2003,3
733,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2003Q4,446.9,2003,4
734,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2004Q1,423.4,2004,1
735,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2004Q2,438.7,2004,2
736,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2004Q3,431.8,2004,3
737,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2004Q4,457.1,2004,4
738,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2005Q1,426.3,2005,1
739,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2005Q2,455.8,2005,2
740,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2005Q3,443.9,2005,3
741,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2005Q4,466.0,2005,4
742,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2006Q1,445.7,2006,1
743,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2006Q2,473.2,2006,2
744,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2006Q3,462.1,2006,3
745,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2006Q4,481.1,2006,4
746,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2007Q1,456.1,2007,1
747,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2007Q2,467.8,2007,2
748,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2007Q3,465.6,2007,3
749,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2007Q4,489.5,2007,4
750,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q1,459.5,2008,1
751,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q2,475.6,2008,2
752,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q3,463.6,2008,3
753,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q4,470.6,2008,4
754,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q1,439.4,2009,1
755,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q2,442.4,2009,2
756,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q3,439.5,2009,3
757,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q4,456.3,2009,4
758,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2010Q1,435.5,2010,1
759,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2010Q2,452.6,2010,2
760,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2010Q3,453.5,2010,3
761,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2010Q4,469.4,2010,4
762,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2011Q1,446.9,2011,1
763,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2011Q2,462.9,2011,2
764,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2011Q3,452.7,2011,3
765,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2011Q4,472.7,2011,4
766,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2012Q1,449.4,2012,1
767,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2012Q2,461.2,2012,2
768,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2012Q3,456.7,2012,3
769,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2012Q4,472.1,2012,4
770,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2013Q1,448.4,2013,1
771,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2013Q2,467.6,2013,2
772,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2013Q3,462.1,2013,3
773,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2013Q4,478.4,2013,4
774,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2014Q1,456.4,2014,1
775,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2014Q2,469.9,2014,2
776,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2014Q3,471.4,2014,3
777,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2014Q4,488.8,2014,4
778,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2015Q1,466.4,2015,1
779,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2015Q2,483.9,2015,2
780,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2015Q3,476.0,2015,3
781,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2015Q4,490.5,2015,4
782,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2016Q1,469.4,2016,1
783,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2016Q2,495.3,2016,2
784,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2016Q3,484.8,2016,3
785,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2016Q4,504.9,2016,4
786,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2017Q1,493.6,2017,1
787,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2017Q2,504.2,2017,2
788,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2017Q3,489.7,2017,3
789,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2017Q4,511.5,2017,4
790,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2018Q1,486.7,2018,1

In [17]:
BNP[BNP['YEAR']>= 2007].to_csv('BNP_non_seasonally_adjust.csv')

In [18]:
BNP_1[BNP_1['YEAR']>= 2007].to_csv('BNP_seasonally_adjust.csv')

In [35]:
BNP[BNP['YEAR'].isin([2008,2009])]

,TRANSAKT,PRICE UNIT,SEASON,TIME,"GDP, BILLIONS OF DKK",YEAR,QUARTER
750,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q1,459.5,2008,1
751,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q2,475.6,2008,2
752,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q3,463.6,2008,3
753,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2008Q4,470.6,2008,4
754,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q1,439.4,2009,1
755,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q2,442.4,2009,2
756,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q3,439.5,2009,3
757,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Non-seasonally adjusted,2009Q4,456.3,2009,4

# Beskæftigelsesdata

In [36]:
resp_1 = conn.get_data(
                table_id = 'AKU103',
                variables = ['beskstatus', 'tid'])

            No values selected! Setting values to all ('*')

Getting table AKU103, variables are ['beskstatus', 'tid']
        values are {'beskstatus': ['*'], 'tid': ['*']}

In [37]:
data_1 = resp_1.df
data_1

                           BESKSTATUS     TID  INDHOLD
0                            Employed  1996Q1     2597
1                            Employed  1996Q2     2612
2                            Employed  1996Q3     2617
3                            Employed  1996Q4     2623
4                            Employed  1997Q1     2635
5                            Employed  1997Q2     2658
6                            Employed  1997Q3     2668
7                            Employed  1997Q4     2674
8                            Employed  1998Q1     2667
9                            Employed  1998Q2     2660
10                           Employed  1998Q3     2667
11                           Employed  1998Q4     2684
12                           Employed  1999Q1     2701
13                           Employed  1999Q2     2700
14                           Employed  1999Q3     2708
15                           Employed  1999Q4     2657
16                           Employed  2000Q1     2696
17                           Employed  2000Q2     2704
18                           Employed  2000Q3     2697
19                           Employed  2000Q4     2701
20                           Employed  2001Q1     2693
21                           Employed  2001Q2     2686
22                           Employed  2001Q3     2715
23                           Employed  2001Q4     2725
24                           Employed  2002Q1     2701
25                           Employed  2002Q2     2705
26                           Employed  2002Q3     2682
27                           Employed  2002Q4     2677
28                           Employed  2003Q1     2672
29                           Employed  2003Q2     2670
30                           Employed  2003Q3     2681
31                           Employed  2003Q4     2665
32                           Employed  2004Q1     2682
33                           Employed  2004Q2     2707
34                           Employed  2004Q3     2702
35                           Employed  2004Q4     2693
36                           Employed  2005Q1     2698
37                           Employed  2005Q2     2694
38                           Employed  2005Q3     2707
39                           Employed  2005Q4     2743
40                           Employed  2006Q1     2752
41                           Employed  2006Q2     2744
42                           Employed  2006Q3     2779
43                           Employed  2006Q4     2783
44                           Employed  2007Q1     2783
45                           Employed  2007Q2     2767
46                           Employed  2007Q3     2751
47                           Employed  2007Q4     2741
48                           Employed  2008Q1     2771
49                           Employed  2008Q2     2812
50                           Employed  2008Q3     2820
51                           Employed  2008Q4     2818
52                           Employed  2009Q1     2774
53                           Employed  2009Q2     2733
54                           Employed  2009Q3     2727
55                           Employed  2009Q4     2673
56                           Employed  2010Q1     2667
57                           Employed  2010Q2     2658
58                           Employed  2010Q3     2652
59                           Employed  2010Q4     2647
60                           Employed  2011Q1     2649
61                           Employed  2011Q2     2646
62                           Employed  2011Q3     2647
63                           Employed  2011Q4     2639
64                           Employed  2012Q1     2639
65                           Employed  2012Q2     2624
66                           Employed  2012Q3     2612
67                           Employed  2012Q4     2619
68                           Employed  2013Q1     2626
69                           Employed  2013Q2     2632
70                           Employed  2013Q3     2623
71                           Employed  2013Q4     2614
72                           Employed  2014Q1     2601
73                           Employed  2014Q2     2631
74                           Employed  2014Q3     2661
75                           Employed  2014Q4     2671
76                           Employed  2015Q1     2674
77                           Employed  2015Q2     2668
78                           Employed  2015Q3     2674
79                           Employed  2015Q4     2703
80                           Employed  2016Q1     2747
81                           Employed  2016Q2     2755
82                           Employed  2016Q3     2746
83                           Employed  2016Q4     2745
84                           Employed  2017Q1     2718
85                           Employed  2017Q2     2724
86                           Employed  2017Q3     2744
87                           Employed  2017Q4     2755
88                           Employed  2018Q1     2772
89                           Employed  2018Q2     2788
90                     ILO-unemployed  1996Q1      196
91                     ILO-unemployed  1996Q2      211
92                     ILO-unemployed  1996Q3      189
93                     ILO-unemployed  1996Q4      182
94                     ILO-unemployed  1997Q1      189
95                     ILO-unemployed  1997Q2      168
96                     ILO-unemployed  1997Q3      174
97                     ILO-unemployed  1997Q4      167
98                     ILO-unemployed  1998Q1      162
99                     ILO-unemployed  1998Q2      155
100                    ILO-unemployed  1998Q3      167
101                    ILO-unemployed  1998Q4      143
102                    ILO-unemployed  1999Q1      150
103                    ILO-unemployed  1999Q2      159
104                    ILO-unemployed  1999Q3      161
105                    ILO-unemployed  1999Q4      169
106                    ILO-unemployed  2000Q1      143
107                    ILO-unemployed  2000Q2      134
108                    ILO-unemployed  2000Q3      124
109                    ILO-unemployed  2000Q4      123
110                    ILO-unemployed  2001Q1      139
111                    ILO-unemployed  2001Q2      131
112                    ILO-unemployed  2001Q3      135
113                    ILO-unemployed  2001Q4      145
114                    ILO-unemployed  2002Q1      129
115                    ILO-unemployed  2002Q2      135
116                    ILO-unemployed  2002Q3      138
117                    ILO-unemployed  2002Q4      138
118                    ILO-unemployed  2003Q1      144
119                    ILO-unemployed  2003Q2      164
120                    ILO-unemployed  2003Q3      158
121                    ILO-unemployed  2003Q4      166
122                    ILO-unemployed  2004Q1      168
123                    ILO-unemployed  2004Q2      158
124                    ILO-unemployed  2004Q3      165
125                    ILO-unemployed  2004Q4      157
126                    ILO-unemployed  2005Q1      158
127                    ILO-unemployed  2005Q2      145
128                    ILO-unemployed  2005Q3      138
129                    ILO-unemployed  2005Q4      130
130                    ILO-unemployed  2006Q1      122
131                    ILO-unemployed  2006Q2      124
132                    ILO-unemployed  2006Q3      111
133                    ILO-unemployed  2006Q4      114
134                    ILO-unemployed  2007Q1      116
135                    ILO-unemployed  2007Q2      105
136                    ILO-unemployed  2007Q3      115
137                    ILO-unemployed  2007Q4      102
138                    ILO-unemployed  2008Q1       94
139                    ILO-unemployed  2008Q2       93
140                    ILO-unemployed  2008Q3      103
141                    ILO-unemployed  2008Q4      115
142                    ILO-unemployed  2009Q1      148
143                    ILO-unemployed  2009Q2      176
144                    ILO-unemployed  2009Q3      185
145                    ILO-unemployed  2009Q4      201
146                    ILO-unemployed  2010Q1      215
147                    ILO-unemployed  2010Q2      219
148                    ILO-unemployed  2010Q3      215
149                    ILO-unemployed  2010Q4      222
150                    ILO-unemployed  2011Q1      220
151                    ILO-unemployed  2011Q2      216
152                    ILO-unemployed  2011Q3      222
153                    ILO-unemployed  2011Q4      226
154                    ILO-unemployed  2012Q1      219
155                    ILO-unemployed  2012Q2      231
156                    ILO-unemployed  2012Q3      215
157                    ILO-unemployed  2012Q4      208
158                    ILO-unemployed  2013Q1      208
159                    ILO-unemployed  2013Q2      200
160                    ILO-unemployed  2013Q3      204
161                    ILO-unemployed  2013Q4      195
162                    ILO-unemployed  2014Q1      199
163                    ILO-unemployed  2014Q2      188
164                    ILO-unemployed  2014Q3      189
165                    ILO-unemployed  2014Q4      188
166                    ILO-unemployed  2015Q1      182
167                    ILO-unemployed  2015Q2      182
168                    ILO-unemployed  2015Q3      179
169                    ILO-unemployed  2015Q4      178
170                    ILO-unemployed  2016Q1      179
171                    ILO-unemployed  2016Q2      187
172                    ILO-unemployed  2016Q3      188
173                    ILO-unemployed  2016Q4      190
174                    ILO-unemployed  2017Q1      183
175                    ILO-unemployed  2017Q2      169
176                    ILO-unemployed  2017Q3      172
177                    ILO-unemployed  2017Q4      157
178                    ILO-unemployed  2018Q1      148
179                    ILO-unemployed  2018Q2      152
180  Persons outside the labour force  1996Q1      720
181  Persons outside the labour force  1996Q2      697
182  Persons outside the labour force  1996Q3      718
183  Persons outside the labour force  1996Q4      701
184  Persons outside the labour force  1997Q1      690
185  Persons outside the labour force  1997Q2      696
186  Persons outside the labour force  1997Q3      690
187  Persons outside the labour force  1997Q4      682
188  Persons outside the labour force  1998Q1      687
189  Persons outside the labour force  1998Q2      710
190  Persons outside the labour force  1998Q3      693
191  Persons outside the labour force  1998Q4      696
192  Persons outside the labour force  1999Q1      682
193  Persons outside the labour force  1999Q2      667
194  Persons outside the labour force  1999Q3      667
195  Persons outside the labour force  1999Q4      705
196  Persons outside the labour force  2000Q1      679
197  Persons outside the labour force  2000Q2      678
198  Persons outside the labour force  2000Q3      704
199  Persons outside the labour force  2000Q4      689
200  Persons outside the labour force  2001Q1      698
201  Persons outside the labour force  2001Q2      701
202  Persons outside the labour force  2001Q3      684
203  Persons outside the labour force  2001Q4      665
204  Persons outside the labour force  2002Q1      699
205  Persons outside the labour force  2002Q2      679
206  Persons outside the labour force  2002Q3      705
207  Persons outside the labour force  2002Q4      714
208  Persons outside the labour force  2003Q1      720
209  Persons outside the labour force  2003Q2      703
210  Persons outside the labour force  2003Q3      687
211  Persons outside the labour force  2003Q4      705
212  Persons outside the labour force  2004Q1      693
213  Persons outside the labour force  2004Q2      671
214  Persons outside the labour force  2004Q3      671
215  Persons outside the labour force  2004Q4      688
216  Persons outside the labour force  2005Q1      678
217  Persons outside the labour force  2005Q2      703
218  Persons outside the labour force  2005Q3      704
219  Persons outside the labour force  2005Q4      677
220  Persons outside the labour force  2006Q1      667
221  Persons outside the labour force  2006Q2      673
222  Persons outside the labour force  2006Q3      659
223  Persons outside the labour force  2006Q4      657
224  Persons outside the labour force  2007Q1      688
225  Persons outside the labour force  2007Q2      709
226  Persons outside the labour force  2007Q3      729
227  Persons outside the labour force  2007Q4      727
228  Persons outside the labour force  2008Q1      708
229  Persons outside the labour force  2008Q2      694
230  Persons outside the labour force  2008Q3      682
231  Persons outside the labour force  2008Q4      685
232  Persons outside the labour force  2009Q1      701
233  Persons outside the labour force  2009Q2      702
234  Persons outside the labour force  2009Q3      707
235  Persons outside the labour force  2009Q4      745
236  Persons outside the labour force  2010Q1      738
237  Persons outside the labour force  2010Q2      739
238  Persons outside the labour force  2010Q3      754
239  Persons outside the labour force  2010Q4      755
240  Persons outside the labour force  2011Q1      747
241  Persons outside the labour force  2011Q2      752
242  Persons outside the labour force  2011Q3      748
243  Persons outside the labour force  2011Q4      750
244  Persons outside the labour force  2012Q1      757
245  Persons outside the labour force  2012Q2      755
246  Persons outside the labour force  2012Q3      786
247  Persons outside the labour force  2012Q4      787
248  Persons outside the labour force  2013Q1      780
249  Persons outside the labour force  2013Q2      784
250  Persons outside the labour force  2013Q3      791
251  Persons outside the labour force  2013Q4      807
252  Persons outside the labour force  2014Q1      817
253  Persons outside the labour force  2014Q2      810
254  Persons outside the labour force  2014Q3      783
255  Persons outside the labour force  2014Q4      771
256  Persons outside the labour force  2015Q1      779
257  Persons outside the labour force  2015Q2      789
258  Persons outside the labour force  2015Q3      796
259  Persons outside the labour force  2015Q4      777
260  Persons outside the labour force  2016Q1      736
261  Persons outside the labour force  2016Q2      727
262  Persons outside the labour force  2016Q3      736
263  Persons outside the labour force  2016Q4      745
264  Persons outside the labour force  2017Q1      780
265  Persons outside the labour force  2017Q2      792
266  Persons outside the labour force  2017Q3      769
267  Persons outside the labour force  2017Q4      780
268  Persons outside the labour force  2018Q1      775
269  Persons outside the labour force  2018Q2      755

In [38]:
conn.get_metadata('AKU103').variables

Getting metadata for table AKU103

['beskstatus', 'tid']

In [39]:
data_1.columns=['EMPLOY_STATUS', 'TIME', 'EMPLOYED, (1000 per.)']

In [40]:
EMPLOY=data_1[(data_1['EMPLOY_STATUS']=='Employed') ]

In [41]:
EMPLOY['YEAR']=EMPLOY['TIME'].apply(lambda x: int(x.split('Q')[0]))

/Users/mariannerasmussen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
EMPLOY['QUARTER']=EMPLOY['TIME'].apply(lambda x: int(x.split('Q')[1]))

/Users/mariannerasmussen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
EMPLOY

   EMPLOY_STATUS    TIME  EMPLOYED, (1000 per.)  YEAR  QUARTER
0       Employed  1996Q1                   2597  1996        1
1       Employed  1996Q2                   2612  1996        2
2       Employed  1996Q3                   2617  1996        3
3       Employed  1996Q4                   2623  1996        4
4       Employed  1997Q1                   2635  1997        1
5       Employed  1997Q2                   2658  1997        2
6       Employed  1997Q3                   2668  1997        3
7       Employed  1997Q4                   2674  1997        4
8       Employed  1998Q1                   2667  1998        1
9       Employed  1998Q2                   2660  1998        2
10      Employed  1998Q3                   2667  1998        3
11      Employed  1998Q4                   2684  1998        4
12      Employed  1999Q1                   2701  1999        1
13      Employed  1999Q2                   2700  1999        2
14      Employed  1999Q3                   2708  1999        3
15      Employed  1999Q4                   2657  1999        4
16      Employed  2000Q1                   2696  2000        1
17      Employed  2000Q2                   2704  2000        2
18      Employed  2000Q3                   2697  2000        3
19      Employed  2000Q4                   2701  2000        4
20      Employed  2001Q1                   2693  2001        1
21      Employed  2001Q2                   2686  2001        2
22      Employed  2001Q3                   2715  2001        3
23      Employed  2001Q4                   2725  2001        4
24      Employed  2002Q1                   2701  2002        1
25      Employed  2002Q2                   2705  2002        2
26      Employed  2002Q3                   2682  2002        3
27      Employed  2002Q4                   2677  2002        4
28      Employed  2003Q1                   2672  2003        1
29      Employed  2003Q2                   2670  2003        2
30      Employed  2003Q3                   2681  2003        3
31      Employed  2003Q4                   2665  2003        4
32      Employed  2004Q1                   2682  2004        1
33      Employed  2004Q2                   2707  2004        2
34      Employed  2004Q3                   2702  2004        3
35      Employed  2004Q4                   2693  2004        4
36      Employed  2005Q1                   2698  2005        1
37      Employed  2005Q2                   2694  2005        2
38      Employed  2005Q3                   2707  2005        3
39      Employed  2005Q4                   2743  2005        4
40      Employed  2006Q1                   2752  2006        1
41      Employed  2006Q2                   2744  2006        2
42      Employed  2006Q3                   2779  2006        3
43      Employed  2006Q4                   2783  2006        4
44      Employed  2007Q1                   2783  2007        1
45      Employed  2007Q2                   2767  2007        2
46      Employed  2007Q3                   2751  2007        3
47      Employed  2007Q4                   2741  2007        4
48      Employed  2008Q1                   2771  2008        1
49      Employed  2008Q2                   2812  2008        2
50      Employed  2008Q3                   2820  2008        3
51      Employed  2008Q4                   2818  2008        4
52      Employed  2009Q1                   2774  2009        1
53      Employed  2009Q2                   2733  2009        2
54      Employed  2009Q3                   2727  2009        3
55      Employed  2009Q4                   2673  2009        4
56      Employed  2010Q1                   2667  2010        1
57      Employed  2010Q2                   2658  2010        2
58      Employed  2010Q3                   2652  2010        3
59      Employed  2010Q4                   2647  2010        4
60      Employed  2011Q1                   2649  2011        1
61      Employed  2011Q2                   2646  2011        2
62      Employed  2011Q3                   2647  2011        3
63      Employed  2011Q4                   2639  2011        4
64      Employed  2012Q1                   2639  2012        1
65      Employed  2012Q2                   2624  2012        2
66      Employed  2012Q3                   2612  2012        3
67      Employed  2012Q4                   2619  2012        4
68      Employed  2013Q1                   2626  2013        1
69      Employed  2013Q2                   2632  2013        2
70      Employed  2013Q3                   2623  2013        3
71      Employed  2013Q4                   2614  2013        4
72      Employed  2014Q1                   2601  2014        1
73      Employed  2014Q2                   2631  2014        2
74      Employed  2014Q3                   2661  2014        3
75      Employed  2014Q4                   2671  2014        4
76      Employed  2015Q1                   2674  2015        1
77      Employed  2015Q2                   2668  2015        2
78      Employed  2015Q3                   2674  2015        3
79      Employed  2015Q4                   2703  2015        4
80      Employed  2016Q1                   2747  2016        1
81      Employed  2016Q2                   2755  2016        2
82      Employed  2016Q3                   2746  2016        3
83      Employed  2016Q4                   2745  2016        4
84      Employed  2017Q1                   2718  2017        1
85      Employed  2017Q2                   2724  2017        2
86      Employed  2017Q3                   2744  2017        3
87      Employed  2017Q4                   2755  2017        4
88      Employed  2018Q1                   2772  2018        1
89      Employed  2018Q2                   2788  2018        2

In [26]:
EMPLOY[EMPLOY['YEAR']>= 2008].to_csv('test_employ.csv')

In [27]:
EMPLOY[EMPLOY['YEAR'].isin([2008,2009])]

   EMPLOY_STATUS    TIME  EMPLOYED, (1000 per.)  YEAR  QUARTER
48      Employed  2008Q1                   2771  2008        1
49      Employed  2008Q2                   2812  2008        2
50      Employed  2008Q3                   2820  2008        3
51      Employed  2008Q4                   2818  2008        4
52      Employed  2009Q1                   2774  2009        1
53      Employed  2009Q2                   2733  2009        2
54      Employed  2009Q3                   2727  2009        3
55      Employed  2009Q4                   2673  2009        4

In [28]:
EMPLOY.drop(['EMPLOY_STATUS', 'TIME'], axis=1,inplace=True)

/Users/mariannerasmussen/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

# Konjunktur

In [116]:
conn.get_metadata('KONCYK1').variables

Getting metadata for table KONCYK1

['erhverv', 'mængde4', 'tid']

In [117]:
resp_4 = conn.get_data(
                table_id = 'KONCYK1',
                variables = ['erhverv', 'mængde4', 'tid'])

            No values selected! Setting values to all ('*')

Getting table KONCYK1, variables are ['erhverv', 'mængde4', 'tid']
        values are {'erhverv': ['*'], 'mængde4': ['*'], 'tid': ['*']}

In [118]:
data_4 = resp_4.df
data_4

                       ERHVERV           MÆNGDE4      TID  INDHOLD
0     Manufacturing industries   Indicator level  1998M02     1.24
1     Manufacturing industries   Indicator level  1998M03     1.05
2     Manufacturing industries   Indicator level  1998M04     0.86
3     Manufacturing industries   Indicator level  1998M05     0.65
4     Manufacturing industries   Indicator level  1998M06     0.44
5     Manufacturing industries   Indicator level  1998M07     0.21
6     Manufacturing industries   Indicator level  1998M08    -0.03
7     Manufacturing industries   Indicator level  1998M09    -0.28
8     Manufacturing industries   Indicator level  1998M10    -0.54
9     Manufacturing industries   Indicator level  1998M11    -0.79
10    Manufacturing industries   Indicator level  1998M12    -0.99
11    Manufacturing industries   Indicator level  1999M01    -1.14
12    Manufacturing industries   Indicator level  1999M02    -1.23
13    Manufacturing industries   Indicator level  1999M03    -1.25
14    Manufacturing industries   Indicator level  1999M04    -1.21
15    Manufacturing industries   Indicator level  1999M05    -1.10
16    Manufacturing industries   Indicator level  1999M06    -0.95
17    Manufacturing industries   Indicator level  1999M07    -0.77
18    Manufacturing industries   Indicator level  1999M08    -0.59
19    Manufacturing industries   Indicator level  1999M09    -0.40
20    Manufacturing industries   Indicator level  1999M10    -0.22
21    Manufacturing industries   Indicator level  1999M11    -0.04
22    Manufacturing industries   Indicator level  1999M12     0.14
23    Manufacturing industries   Indicator level  2000M01     0.31
24    Manufacturing industries   Indicator level  2000M02     0.47
25    Manufacturing industries   Indicator level  2000M03     0.63
26    Manufacturing industries   Indicator level  2000M04     0.78
27    Manufacturing industries   Indicator level  2000M05     0.91
28    Manufacturing industries   Indicator level  2000M06     1.02
29    Manufacturing industries   Indicator level  2000M07     1.09
30    Manufacturing industries   Indicator level  2000M08     1.14
31    Manufacturing industries   Indicator level  2000M09     1.14
32    Manufacturing industries   Indicator level  2000M10     1.11
33    Manufacturing industries   Indicator level  2000M11     1.04
34    Manufacturing industries   Indicator level  2000M12     0.92
35    Manufacturing industries   Indicator level  2001M01     0.78
36    Manufacturing industries   Indicator level  2001M02     0.61
37    Manufacturing industries   Indicator level  2001M03     0.43
38    Manufacturing industries   Indicator level  2001M04     0.23
39    Manufacturing industries   Indicator level  2001M05     0.03
40    Manufacturing industries   Indicator level  2001M06    -0.16
41    Manufacturing industries   Indicator level  2001M07    -0.34
42    Manufacturing industries   Indicator level  2001M08    -0.51
43    Manufacturing industries   Indicator level  2001M09    -0.66
44    Manufacturing industries   Indicator level  2001M10    -0.78
45    Manufacturing industries   Indicator level  2001M11    -0.85
46    Manufacturing industries   Indicator level  2001M12    -0.88
47    Manufacturing industries   Indicator level  2002M01    -0.86
48    Manufacturing industries   Indicator level  2002M02    -0.81
49    Manufacturing industries   Indicator level  2002M03    -0.74
50    Manufacturing industries   Indicator level  2002M04    -0.65
51    Manufacturing industries   Indicator level  2002M05    -0.57
52    Manufacturing industries   Indicator level  2002M06    -0.50
53    Manufacturing industries   Indicator level  2002M07    -0.46
54    Manufacturing industries   Indicator level  2002M08    -0.43
55    Manufacturing industries   Indicator level  2002M09    -0.42
56    Manufacturing industries   Indicator level  2002M10    -0.43
57    Manufacturing industries   Indicator level  2002M11    -0.46
58    Manufacturing industries   Indicator level  2002M12    -0.51
59    Manufacturing industries   Indicator level  2003M01    -0.58
60    Manufacturing industries   Indicator level  2003M02    -0.64
61    Manufacturing industries   Indicator level  2003M03    -0.71
62    Manufacturing industries   Indicator level  2003M04    -0.75
63    Manufacturing industries   Indicator level  2003M05    -0.77
64    Manufacturing industries   Indicator level  2003M06    -0.75
65    Manufacturing industries   Indicator level  2003M07    -0.68
66    Manufacturing industries   Indicator level  2003M08    -0.58
67    Manufacturing industries   Indicator level  2003M09    -0.44
68    Manufacturing industries   Indicator level  2003M10    -0.28
69    Manufacturing industries   Indicator level  2003M11    -0.11
70    Manufacturing industries   Indicator level  2003M12     0.05
71    Manufacturing industries   Indicator level  2004M01     0.20
72    Manufacturing industries   Indicator level  2004M02     0.34
73    Manufacturing industries   Indicator level  2004M03     0.45
74    Manufacturing industries   Indicator level  2004M04     0.54
75    Manufacturing industries   Indicator level  2004M05     0.59
76    Manufacturing industries   Indicator level  2004M06     0.62
77    Manufacturing industries   Indicator level  2004M07     0.60
78    Manufacturing industries   Indicator level  2004M08     0.55
79    Manufacturing industries   Indicator level  2004M09     0.48
80    Manufacturing industries   Indicator level  2004M10     0.39
81    Manufacturing industries   Indicator level  2004M11     0.29
82    Manufacturing industries   Indicator level  2004M12     0.21
83    Manufacturing industries   Indicator level  2005M01     0.14
84    Manufacturing industries   Indicator level  2005M02     0.09
85    Manufacturing industries   Indicator level  2005M03     0.07
86    Manufacturing industries   Indicator level  2005M04     0.08
87    Manufacturing industries   Indicator level  2005M05     0.12
88    Manufacturing industries   Indicator level  2005M06     0.18
89    Manufacturing industries   Indicator level  2005M07     0.26
90    Manufacturing industries   Indicator level  2005M08     0.36
91    Manufacturing industries   Indicator level  2005M09     0.46
92    Manufacturing industries   Indicator level  2005M10     0.56
93    Manufacturing industries   Indicator level  2005M11     0.67
94    Manufacturing industries   Indicator level  2005M12     0.77
95    Manufacturing industries   Indicator level  2006M01     0.87
96    Manufacturing industries   Indicator level  2006M02     0.95
97    Manufacturing industries   Indicator level  2006M03     1.03
98    Manufacturing industries   Indicator level  2006M04     1.11
99    Manufacturing industries   Indicator level  2006M05     1.17
100   Manufacturing industries   Indicator level  2006M06     1.22
101   Manufacturing industries   Indicator level  2006M07     1.25
102   Manufacturing industries   Indicator level  2006M08     1.28
103   Manufacturing industries   Indicator level  2006M09     1.29
104   Manufacturing industries   Indicator level  2006M10     1.30
105   Manufacturing industries   Indicator level  2006M11     1.30
106   Manufacturing industries   Indicator level  2006M12     1.29
107   Manufacturing industries   Indicator level  2007M01     1.28
108   Manufacturing industries   Indicator level  2007M02     1.26
109   Manufacturing industries   Indicator level  2007M03     1.22
110   Manufacturing industries   Indicator level  2007M04     1.18
111   Manufacturing industries   Indicator level  2007M05     1.13
112   Manufacturing industries   Indicator level  2007M06     1.07
113   Manufacturing industries   Indicator level  2007M07     1.00
114   Manufacturing industries   Indicator level  2007M08     0.93
115   Manufacturing industries   Indicator level  2007M09     0.85
116   Manufacturing industries   Indicator level  2007M10     0.77
117   Manufacturing industries   Indicator level  2007M11     0.68
118   Manufacturing industries   Indicator level  2007M12     0.59
119   Manufacturing industries   Indicator level  2008M01     0.49
120   Manufacturing industries   Indicator level  2008M02     0.36
121   Manufacturing industries   Indicator level  2008M03     0.22
122   Manufacturing industries   Indicator level  2008M04     0.05
123   Manufacturing industries   Indicator level  2008M05    -0.16
124   Manufacturing industries   Indicator level  2008M06    -0.41
125   Manufacturing industries   Indicator level  2008M07    -0.71
126   Manufacturing industries   Indicator level  2008M08    -1.06
127   Manufacturing industries   Indicator level  2008M09    -1.44
128   Manufacturing industries   Indicator level  2008M10    -1.83
129   Manufacturing industries   Indicator level  2008M11    -2.22
130   Manufacturing industries   Indicator level  2008M12    -2.56
131   Manufacturing industries   Indicator level  2009M01    -2.85
132   Manufacturing industries   Indicator level  2009M02    -3.06
133   Manufacturing industries   Indicator level  2009M03    -3.17
134   Manufacturing industries   Indicator level  2009M04    -3.17
135   Manufacturing industries   Indicator level  2009M05    -3.09
136   Manufacturing industries   Indicator level  2009M06    -2.93
137   Manufacturing industries   Indicator level  2009M07    -2.72
138   Manufacturing industries   Indicator level  2009M08    -2.47
139   Manufacturing industries   Indicator level  2009M09    -2.20
140   Manufacturing industries   Indicator level  2009M10    -1.91
141   Manufacturing industries   Indicator level  2009M11    -1.61
142   Manufacturing industries   Indicator level  2009M12    -1.32
143   Manufacturing industries   Indicator level  2010M01    -1.03
144   Manufacturing industries   Indicator level  2010M02    -0.75
145   Manufacturing industries   Indicator level  2010M03    -0.48
146   Manufacturing industries   Indicator level  2010M04    -0.23
147   Manufacturing industries   Indicator level  2010M05    -0.01
148   Manufacturing industries   Indicator level  2010M06     0.17
149   Manufacturing industries   Indicator level  2010M07     0.31
150   Manufacturing industries   Indicator level  2010M08     0.42
151   Manufacturing industries   Indicator level  2010M09     0.49
152   Manufacturing industries   Indicator level  2010M10     0.55
153   Manufacturing industries   Indicator level  2010M11     0.61
154   Manufacturing industries   Indicator level  2010M12     0.68
155   Manufacturing industries   Indicator level  2011M01     0.76
156   Manufacturing industries   Indicator level  2011M02     0.83
157   Manufacturing industries   Indicator level  2011M03     0.90
158   Manufacturing industries   Indicator level  2011M04     0.95
159   Manufacturing industries   Indicator level  2011M05     0.97
160   Manufacturing industries   Indicator level  2011M06     0.96
161   Manufacturing industries   Indicator level  2011M07     0.91
162   Manufacturing industries   Indicator level  2011M08     0.84
163   Manufacturing industries   Indicator level  2011M09     0.75
164   Manufacturing industries   Indicator level  2011M10     0.67
165   Manufacturing industries   Indicator level  2011M11     0.61
166   Manufacturing industries   Indicator level  2011M12     0.56
167   Manufacturing industries   Indicator level  2012M01     0.52
168   Manufacturing industries   Indicator level  2012M02     0.48
169   Manufacturing industries   Indicator level  2012M03     0.43
170   Manufacturing industries   Indicator level  2012M04     0.38
171   Manufacturing industries   Indicator level  2012M05     0.31
172   Manufacturing industries   Indicator level  2012M06     0.23
173   Manufacturing industries   Indicator level  2012M07     0.14
174   Manufacturing industries   Indicator level  2012M08     0.05
175   Manufacturing industries   Indicator level  2012M09    -0.04
176   Manufacturing industries   Indicator level  2012M10    -0.12
177   Manufacturing industries   Indicator level  2012M11    -0.17
178   Manufacturing industries   Indicator level  2012M12    -0.20
179   Manufacturing industries   Indicator level  2013M01    -0.20
180   Manufacturing industries   Indicator level  2013M02    -0.18
181   Manufacturing industries   Indicator level  2013M03    -0.13
182   Manufacturing industries   Indicator level  2013M04    -0.04
183   Manufacturing industries   Indicator level  2013M05     0.07
184   Manufacturing industries   Indicator level  2013M06     0.21
185   Manufacturing industries   Indicator level  2013M07     0.35
186   Manufacturing industries   Indicator level  2013M08     0.50
187   Manufacturing industries   Indicator level  2013M09     0.64
188   Manufacturing industries   Indicator level  2013M10     0.76
189   Manufacturing industries   Indicator level  2013M11     0.85
190   Manufacturing industries   Indicator level  2013M12     0.90
191   Manufacturing industries   Indicator level  2014M01     1.00
192   Manufacturing industries   Indicator level  2014M02     0.97
193   Manufacturing industries   Indicator level  2014M03     0.89
194   Manufacturing industries   Indicator level  2014M04     0.76
195   Manufacturing industries   Indicator level  2014M05     0.57
196   Manufacturing industries   Indicator level  2014M06     0.35
197   Manufacturing industries   Indicator level  2014M07     0.12
198   Manufacturing industries   Indicator level  2014M08    -0.11
199   Manufacturing industries   Indicator level  2014M09    -0.31
200   Manufacturing industries   Indicator level  2014M10    -0.49
201   Manufacturing industries   Indicator level  2014M11    -0.63
202   Manufacturing industries   Indicator level  2014M12    -0.72
203   Manufacturing industries   Indicator level  2015M01    -0.78
204   Manufacturing industries   Indicator level  2015M02    -0.78
205   Manufacturing industries   Indicator level  2015M03    -0.73
206   Manufacturing industries   Indicator level  2015M04    -0.64
207   Manufacturing industries   Indicator level  2015M05    -0.54
208   Manufacturing industries   Indicator level  2015M06    -0.44
209   Manufacturing industries   Indicator level  2015M07    -0.35
210   Manufacturing industries   Indicator level  2015M08    -0.28
211   Manufacturing industries   Indicator level  2015M09    -0.22
212   Manufacturing industries   Indicator level  2015M10    -0.19
213   Manufacturing industries   Indicator level  2015M11    -0.18
214   Manufacturing industries   Indicator level  2015M12    -0.19
215   Manufacturing industries   Indicator level  2016M01    -0.21
216   Manufacturing industries   Indicator level  2016M02    -0.23
217   Manufacturing industries   Indicator level  2016M03    -0.25
218   Manufacturing industries   Indicator level  2016M04    -0.28
219   Manufacturing industries   Indicator level  2016M05    -0.30
220   Manufacturing industries   Indicator level  2016M06    -0.32
221   Manufacturing industries   Indicator level  2016M07    -0.34
222   Manufacturing industries   Indicator level  2016M08    -0.36
223   Manufacturing industries   Indicator level  2016M09    -0.36
224   Manufacturing industries   Indicator level  2016M10    -0.33
225   Manufacturing industries   Indicator level  2016M11    -0.27
226   Manufacturing industries   Indicator level  2016M12    -0.18
227   Manufacturing industries   Indicator level  2017M01    -0.07
228   Manufacturing industries   Indicator level  2017M02     0.04
229   Manufacturing industries   Indicator level  2017M03     0.15
230   Manufacturing industries   Indicator level  2017M04     0.25
231   Manufacturing industries   Indicator level  2017M05     0.33
232   Manufacturing industries   Indicator level  2017M06     0.40
233   Manufacturing industries   Indicator level  2017M07     0.44
234   Manufacturing industries   Indicator level  2017M08     0.47
235   Manufacturing industries   Indicator level  2017M09     0.48
236   Manufacturing industries   Indicator level  2017M10     0.48
237   Manufacturing industries   Indicator level  2017M11     0.48
238   Manufacturing industries   Indicator level  2017M12     0.47
239   Manufacturing industries   Indicator level  2018M01     0.46
240   Manufacturing industries   Indicator level  2018M02     0.43
241   Manufacturing industries   Indicator level  2018M03     0.42
242   Manufacturing industries   Indicator level  2018M04     0.44
243   Manufacturing industries   Indicator level  2018M05     0.49
244   Manufacturing industries   Indicator level  2018M06     0.56
245   Manufacturing industries   Indicator level  2018M07     0.63
246   Manufacturing industries  Month over month  1998M02    -0.19
247   Manufacturing industries  Month over month  1998M03    -0.19
248   Manufacturing industries  Month over month  1998M04    -0.20
249   Manufacturing industries  Month over month  1998M05    -0.20
250   Manufacturing industries  Month over month  1998M06    -0.21
251   Manufacturing industries  Month over month  1998M07    -0.23
252   Manufacturing industries  Month over month  1998M08    -0.24
253   Manufacturing industries  Month over month  1998M09    -0.26
254   Manufacturing industries  Month over month  1998M10    -0.26
255   Manufacturing industries  Month over month  1998M11    -0.24
256   Manufacturing industries  Month over month  1998M12    -0.21
257   Manufacturing industries  Month over month  1999M01    -0.15
258   Manufacturing industries  Month over month  1999M02    -0.09
259   Manufacturing industries  Month over month  1999M03    -0.02
260   Manufacturing industries  Month over month  1999M04     0.05
261   Manufacturing industries  Month over month  1999M05     0.11
262   Manufacturing industries  Month over month  1999M06     0.15
263   Manufacturing industries  Month over month  1999M07     0.18
264   Manufacturing industries  Month over month  1999M08     0.19
265   Manufacturing industries  Month over month  1999M09     0.19
266   Manufacturing industries  Month over month  1999M10     0.18
267   Manufacturing industries  Month over month  1999M11     0.18
268   Manufacturing industries  Month over month  1999M12     0.17
269   Manufacturing industries  Month over month  2000M01     0.17
270   Manufacturing industries  Month over month  2000M02     0.16
271   Manufacturing industries  Month over month  2000M03     0.16
272   Manufacturing industries  Month over month  2000M04     0.15
273   Manufacturing industries  Month over month  2000M05     0.13
274   Manufacturing industries  Month over month  2000M06     0.11
275   Manufacturing industries  Month over month  2000M07     0.08
276   Manufacturing industries  Month over month  2000M08     0.04
277   Manufacturing industries  Month over month  2000M09     0.01
278   Manufacturing industries  Month over month  2000M10    -0.03
279   Manufacturing industries  Month over month  2000M11    -0.07
280   Manufacturing industries  Month over month  2000M12    -0.11
281   Manufacturing industries  Month over month  2001M01    -0.14
282   Manufacturing industries  Month over month  2001M02    -0.17
283   Manufacturing industries  Month over month  2001M03    -0.19
284   Manufacturing industries  Month over month  2001M04    -0.20
285   Manufacturing industries  Month over month  2001M05    -0.20
286   Manufacturing industries  Month over month  2001M06    -0.19
287   Manufacturing industries  Month over month  2001M07    -0.18
288   Manufacturing industries  Month over month  2001M08    -0.17
289   Manufacturing industries  Month over month  2001M09    -0.15
290   Manufacturing industries  Month over month  2001M10    -0.12
291   Manufacturing industries  Month over month  2001M11    -0.07
292   Manufacturing industries  Month over month  2001M12    -0.03
293   Manufacturing industries  Month over month  2002M01     0.02
294   Manufacturing industries  Month over month  2002M02     0.05
295   Manufacturing industries  Month over month  2002M03     0.08
296   Manufacturing industries  Month over month  2002M04     0.08

In [119]:
KONJUN=data_4[(data_4['MÆNGDE4']=='Month over month') ]
KONJUN

                       ERHVERV           MÆNGDE4      TID  INDHOLD
246   Manufacturing industries  Month over month  1998M02    -0.19
247   Manufacturing industries  Month over month  1998M03    -0.19
248   Manufacturing industries  Month over month  1998M04    -0.20
249   Manufacturing industries  Month over month  1998M05    -0.20
250   Manufacturing industries  Month over month  1998M06    -0.21
251   Manufacturing industries  Month over month  1998M07    -0.23
252   Manufacturing industries  Month over month  1998M08    -0.24
253   Manufacturing industries  Month over month  1998M09    -0.26
254   Manufacturing industries  Month over month  1998M10    -0.26
255   Manufacturing industries  Month over month  1998M11    -0.24
256   Manufacturing industries  Month over month  1998M12    -0.21
257   Manufacturing industries  Month over month  1999M01    -0.15
258   Manufacturing industries  Month over month  1999M02    -0.09
259   Manufacturing industries  Month over month  1999M03    -0.02
260   Manufacturing industries  Month over month  1999M04     0.05
261   Manufacturing industries  Month over month  1999M05     0.11
262   Manufacturing industries  Month over month  1999M06     0.15
263   Manufacturing industries  Month over month  1999M07     0.18
264   Manufacturing industries  Month over month  1999M08     0.19
265   Manufacturing industries  Month over month  1999M09     0.19
266   Manufacturing industries  Month over month  1999M10     0.18
267   Manufacturing industries  Month over month  1999M11     0.18
268   Manufacturing industries  Month over month  1999M12     0.17
269   Manufacturing industries  Month over month  2000M01     0.17
270   Manufacturing industries  Month over month  2000M02     0.16
271   Manufacturing industries  Month over month  2000M03     0.16
272   Manufacturing industries  Month over month  2000M04     0.15
273   Manufacturing industries  Month over month  2000M05     0.13
274   Manufacturing industries  Month over month  2000M06     0.11
275   Manufacturing industries  Month over month  2000M07     0.08
276   Manufacturing industries  Month over month  2000M08     0.04
277   Manufacturing industries  Month over month  2000M09     0.01
278   Manufacturing industries  Month over month  2000M10    -0.03
279   Manufacturing industries  Month over month  2000M11    -0.07
280   Manufacturing industries  Month over month  2000M12    -0.11
281   Manufacturing industries  Month over month  2001M01    -0.14
282   Manufacturing industries  Month over month  2001M02    -0.17
283   Manufacturing industries  Month over month  2001M03    -0.19
284   Manufacturing industries  Month over month  2001M04    -0.20
285   Manufacturing industries  Month over month  2001M05    -0.20
286   Manufacturing industries  Month over month  2001M06    -0.19
287   Manufacturing industries  Month over month  2001M07    -0.18
288   Manufacturing industries  Month over month  2001M08    -0.17
289   Manufacturing industries  Month over month  2001M09    -0.15
290   Manufacturing industries  Month over month  2001M10    -0.12
291   Manufacturing industries  Month over month  2001M11    -0.07
292   Manufacturing industries  Month over month  2001M12    -0.03
293   Manufacturing industries  Month over month  2002M01     0.02
294   Manufacturing industries  Month over month  2002M02     0.05
295   Manufacturing industries  Month over month  2002M03     0.08
296   Manufacturing industries  Month over month  2002M04     0.08
297   Manufacturing industries  Month over month  2002M05     0.08
298   Manufacturing industries  Month over month  2002M06     0.07
299   Manufacturing industries  Month over month  2002M07     0.05
300   Manufacturing industries  Month over month  2002M08     0.03
301   Manufacturing industries  Month over month  2002M09     0.01
302   Manufacturing industries  Month over month  2002M10    -0.01
303   Manufacturing industries  Month over month  2002M11    -0.03
304   Manufacturing industries  Month over month  2002M12    -0.05
305   Manufacturing industries  Month over month  2003M01    -0.06
306   Manufacturing industries  Month over month  2003M02    -0.07
307   Manufacturing industries  Month over month  2003M03    -0.06
308   Manufacturing industries  Month over month  2003M04    -0.04
309   Manufacturing industries  Month over month  2003M05    -0.02
310   Manufacturing industries  Month over month  2003M06     0.02
311   Manufacturing industries  Month over month  2003M07     0.06
312   Manufacturing industries  Month over month  2003M08     0.10
313   Manufacturing industries  Month over month  2003M09     0.14
314   Manufacturing industries  Month over month  2003M10     0.16
315   Manufacturing industries  Month over month  2003M11     0.17
316   Manufacturing industries  Month over month  2003M12     0.16
317   Manufacturing industries  Month over month  2004M01     0.15
318   Manufacturing industries  Month over month  2004M02     0.13
319   Manufacturing industries  Month over month  2004M03     0.11
320   Manufacturing industries  Month over month  2004M04     0.09
321   Manufacturing industries  Month over month  2004M05     0.06
322   Manufacturing industries  Month over month  2004M06     0.02
323   Manufacturing industries  Month over month  2004M07    -0.02
324   Manufacturing industries  Month over month  2004M08    -0.05
325   Manufacturing industries  Month over month  2004M09    -0.07
326   Manufacturing industries  Month over month  2004M10    -0.09
327   Manufacturing industries  Month over month  2004M11    -0.09
328   Manufacturing industries  Month over month  2004M12    -0.09
329   Manufacturing industries  Month over month  2005M01    -0.07
330   Manufacturing industries  Month over month  2005M02    -0.05
331   Manufacturing industries  Month over month  2005M03    -0.02
332   Manufacturing industries  Month over month  2005M04     0.01
333   Manufacturing industries  Month over month  2005M05     0.04
334   Manufacturing industries  Month over month  2005M06     0.06
335   Manufacturing industries  Month over month  2005M07     0.08
336   Manufacturing industries  Month over month  2005M08     0.10
337   Manufacturing industries  Month over month  2005M09     0.10
338   Manufacturing industries  Month over month  2005M10     0.10
339   Manufacturing industries  Month over month  2005M11     0.10
340   Manufacturing industries  Month over month  2005M12     0.10
341   Manufacturing industries  Month over month  2006M01     0.10
342   Manufacturing industries  Month over month  2006M02     0.09
343   Manufacturing industries  Month over month  2006M03     0.08
344   Manufacturing industries  Month over month  2006M04     0.07
345   Manufacturing industries  Month over month  2006M05     0.06
346   Manufacturing industries  Month over month  2006M06     0.05
347   Manufacturing industries  Month over month  2006M07     0.03
348   Manufacturing industries  Month over month  2006M08     0.02
349   Manufacturing industries  Month over month  2006M09     0.01
350   Manufacturing industries  Month over month  2006M10     0.01
351   Manufacturing industries  Month over month  2006M11     0.00
352   Manufacturing industries  Month over month  2006M12    -0.01
353   Manufacturing industries  Month over month  2007M01    -0.01
354   Manufacturing industries  Month over month  2007M02    -0.02
355   Manufacturing industries  Month over month  2007M03    -0.03
356   Manufacturing industries  Month over month  2007M04    -0.04
357   Manufacturing industries  Month over month  2007M05    -0.05
358   Manufacturing industries  Month over month  2007M06    -0.06
359   Manufacturing industries  Month over month  2007M07    -0.07
360   Manufacturing industries  Month over month  2007M08    -0.07
361   Manufacturing industries  Month over month  2007M09    -0.08
362   Manufacturing industries  Month over month  2007M10    -0.08
363   Manufacturing industries  Month over month  2007M11    -0.09
364   Manufacturing industries  Month over month  2007M12    -0.09
365   Manufacturing industries  Month over month  2008M01    -0.10
366   Manufacturing industries  Month over month  2008M02    -0.12
367   Manufacturing industries  Month over month  2008M03    -0.14
368   Manufacturing industries  Month over month  2008M04    -0.17
369   Manufacturing industries  Month over month  2008M05    -0.21
370   Manufacturing industries  Month over month  2008M06    -0.25
371   Manufacturing industries  Month over month  2008M07    -0.30
372   Manufacturing industries  Month over month  2008M08    -0.35
373   Manufacturing industries  Month over month  2008M09    -0.38
374   Manufacturing industries  Month over month  2008M10    -0.39
375   Manufacturing industries  Month over month  2008M11    -0.38
376   Manufacturing industries  Month over month  2008M12    -0.35
377   Manufacturing industries  Month over month  2009M01    -0.29
378   Manufacturing industries  Month over month  2009M02    -0.21
379   Manufacturing industries  Month over month  2009M03    -0.11
380   Manufacturing industries  Month over month  2009M04    -0.01
381   Manufacturing industries  Month over month  2009M05     0.09
382   Manufacturing industries  Month over month  2009M06     0.16
383   Manufacturing industries  Month over month  2009M07     0.21
384   Manufacturing industries  Month over month  2009M08     0.25
385   Manufacturing industries  Month over month  2009M09     0.27
386   Manufacturing industries  Month over month  2009M10     0.29
387   Manufacturing industries  Month over month  2009M11     0.30
388   Manufacturing industries  Month over month  2009M12     0.29
389   Manufacturing industries  Month over month  2010M01     0.29
390   Manufacturing industries  Month over month  2010M02     0.28
391   Manufacturing industries  Month over month  2010M03     0.27
392   Manufacturing industries  Month over month  2010M04     0.25
393   Manufacturing industries  Month over month  2010M05     0.22
394   Manufacturing industries  Month over month  2010M06     0.18
395   Manufacturing industries  Month over month  2010M07     0.14
396   Manufacturing industries  Month over month  2010M08     0.10
397   Manufacturing industries  Month over month  2010M09     0.08
398   Manufacturing industries  Month over month  2010M10     0.06
399   Manufacturing industries  Month over month  2010M11     0.06
400   Manufacturing industries  Month over month  2010M12     0.07
401   Manufacturing industries  Month over month  2011M01     0.07
402   Manufacturing industries  Month over month  2011M02     0.08
403   Manufacturing industries  Month over month  2011M03     0.07
404   Manufacturing industries  Month over month  2011M04     0.05
405   Manufacturing industries  Month over month  2011M05     0.02
406   Manufacturing industries  Month over month  2011M06    -0.02
407   Manufacturing industries  Month over month  2011M07    -0.05
408   Manufacturing industries  Month over month  2011M08    -0.07
409   Manufacturing industries  Month over month  2011M09    -0.08
410   Manufacturing industries  Month over month  2011M10    -0.08
411   Manufacturing industries  Month over month  2011M11    -0.06
412   Manufacturing industries  Month over month  2011M12    -0.05
413   Manufacturing industries  Month over month  2012M01    -0.04
414   Manufacturing industries  Month over month  2012M02    -0.04
415   Manufacturing industries  Month over month  2012M03    -0.05
416   Manufacturing industries  Month over month  2012M04    -0.06
417   Manufacturing industries  Month over month  2012M05    -0.07
418   Manufacturing industries  Month over month  2012M06    -0.08
419   Manufacturing industries  Month over month  2012M07    -0.09
420   Manufacturing industries  Month over month  2012M08    -0.09
421   Manufacturing industries  Month over month  2012M09    -0.09
422   Manufacturing industries  Month over month  2012M10    -0.07
423   Manufacturing industries  Month over month  2012M11    -0.05
424   Manufacturing industries  Month over month  2012M12    -0.03
425   Manufacturing industries  Month over month  2013M01     0.00
426   Manufacturing industries  Month over month  2013M02     0.02
427   Manufacturing industries  Month over month  2013M03     0.05
428   Manufacturing industries  Month over month  2013M04     0.08
429   Manufacturing industries  Month over month  2013M05     0.11
430   Manufacturing industries  Month over month  2013M06     0.13
431   Manufacturing industries  Month over month  2013M07     0.15
432   Manufacturing industries  Month over month  2013M08     0.15
433   Manufacturing industries  Month over month  2013M09     0.14
434   Manufacturing industries  Month over month  2013M10     0.12
435   Manufacturing industries  Month over month  2013M11     0.09
436   Manufacturing industries  Month over month  2013M12     0.05
437   Manufacturing industries  Month over month  2014M01     0.02
438   Manufacturing industries  Month over month  2014M02    -0.03
439   Manufacturing industries  Month over month  2014M03    -0.08
440   Manufacturing industries  Month over month  2014M04    -0.13
441   Manufacturing industries  Month over month  2014M05    -0.19
442   Manufacturing industries  Month over month  2014M06    -0.22
443   Manufacturing industries  Month over month  2014M07    -0.23
444   Manufacturing industries  Month over month  2014M08    -0.23
445   Manufacturing industries  Month over month  2014M09    -0.21
446   Manufacturing industries  Month over month  2014M10    -0.18
447   Manufacturing industries  Month over month  2014M11    -0.14
448   Manufacturing industries  Month over month  2014M12    -0.09
449   Manufacturing industries  Month over month  2015M01    -0.04
450   Manufacturing industries  Month over month  2015M02     0.01
451   Manufacturing industries  Month over month  2015M03     0.05
452   Manufacturing industries  Month over month  2015M04     0.08
453   Manufacturing industries  Month over month  2015M05     0.10
454   Manufacturing industries  Month over month  2015M06     0.10
455   Manufacturing industries  Month over month  2015M07     0.09
456   Manufacturing industries  Month over month  2015M08     0.07
457   Manufacturing industries  Month over month  2015M09     0.05
458   Manufacturing industries  Month over month  2015M10     0.03
459   Manufacturing industries  Month over month  2015M11     0.01
460   Manufacturing industries  Month over month  2015M12    -0.01
461   Manufacturing industries  Month over month  2016M01    -0.02
462   Manufacturing industries  Month over month  2016M02    -0.02
463   Manufacturing industries  Month over month  2016M03    -0.02
464   Manufacturing industries  Month over month  2016M04    -0.02
465   Manufacturing industries  Month over month  2016M05    -0.02
466   Manufacturing industries  Month over month  2016M06    -0.02
467   Manufacturing industries  Month over month  2016M07    -0.02
468   Manufacturing industries  Month over month  2016M08    -0.02
469   Manufacturing industries  Month over month  2016M09     0.00
470   Manufacturing industries  Month over month  2016M10     0.03
471   Manufacturing industries  Month over month  2016M11     0.06
472   Manufacturing industries  Month over month  2016M12     0.09
473   Manufacturing industries  Month over month  2017M01     0.11
474   Manufacturing industries  Month over month  2017M02     0.11
475   Manufacturing industries  Month over month  2017M03     0.11
476   Manufacturing industries  Month over month  2017M04     0.10
477   Manufacturing industries  Month over month  2017M05     0.08
478   Manufacturing industries  Month over month  2017M06     0.07
479   Manufacturing industries  Month over month  2017M07     0.05
480   Manufacturing industries  Month over month  2017M08     0.02
481   Manufacturing industries  Month over month  2017M09     0.01
482   Manufacturing industries  Month over month  2017M10     0.00
483   Manufacturing industries  Month over month  2017M11     0.00
484   Manufacturing industries  Month over month  2017M12    -0.01
485   Manufacturing industries  Month over month  2018M01    -0.01
486   Manufacturing industries  Month over month  2018M02    -0.03
487   Manufacturing industries  Month over month  2018M03    -0.01
488   Manufacturing industries  Month over month  2018M04     0.02
489   Manufacturing industries  Month over month  2018M05     0.05
490   Manufacturing industries  Month over month  2018M06     0.07
491   Manufacturing industries  Month over month  2018M07     0.07
738      Construction industry  Month over month  1998M02    -0.04
739      Construction industry  Month over month  1998M03    -0.04
740      Construction industry  Month over month  1998M04    -0.05
741      Construction industry  Month over month  1998M05    -0.07
742      Construction industry  Month over month  1998M06    -0.09
743      Construction industry  Month over month  1998M07    -0.11
744      Construction industry  Month over month  1998M08    -0.12
745      Construction industry  Month over month  1998M09    -0.13
746      Construction industry  Month over month  1998M10    -0.13
747      Construction industry  Month over month  1998M11    -0.12
748      Construction industry  Month over month  1998M12    -0.09
749      Construction industry  Month over month  1999M01    -0.06
750      Construction industry  Month over month  1999M02    -0.02
751      Construction industry  Month over month  1999M03     0.01
752      Construction industry  Month over month  1999M04     0.03
753      Construction industry  Month over month  1999M05     0.04
754      Construction industry  Month over month  1999M06     0.04
755      Construction industry  Month over month  1999M07     0.04
756      Construction industry  Month over month  1999M08     0.03
757      Construction industry  Month over month  1999M09     0.03
758      Construction industry  Month over month  1999M10     0.04
759      Construction industry  Month over month  1999M11     0.05
760      Construction industry  Month over month  1999M12     0.06
761      Construction industry  Month over month  2000M01     0.07
762      Construction industry  Month over month  2000M02     0.06
763      Construction industry  Month over month  2000M03     0.04
764      Construction industry  Month over month  2000M04     0.02
765      Construction industry  Month over month  2000M05    -0.01
766      Construction industry  Month over month  2000M06    -0.02
767      Construction industry  Month over month  2000M07    -0.03
768      Construction industry  Month over month  2000M08    -0.05
769      Construction industry  Month over month  2000M09    -0.05
770      Construction industry  Month over month  2000M10    -0.06
771      Construction industry  Month over month  2000M11    -0.06
772      Construction industry  Month over month  2000M12    -0.05
773      Construction industry  Month over month  2001M01    -0.04
774      Construction industry  Month over month  2001M02    -0.04
775      Construction industry  Month over month  2001M03    -0.03
776      Construction industry  Month over month  2001M04    -0.03
777      Construction industry  Month over month  2001M05    -0.03
778      Construction industry  Month over month  2001M06    -0.03
779      Construction industry  Month over month  2001M07    -0.04
780      Construction industry  Month over month  2001M08    -0.04
781      Construction industry  Month over month  2001M09    -0.04
782      Construction industry  Month over month  2001M10    -0.03
783      Construction industry  Month over month  2001M11    -0.02
784      Construction industry  Month over month  2001M12    -0.01
785      Construction industry  Month over month  2002M01     0.00
786      Construction industry  Month over month  2002M02     0.00
787      Construction industry  Month over month  2002M03     0.00
788      Construction industry  Month over month  2002M04    -0.02

In [120]:
KONJUN['YEAR']=KONJUN['TID'].apply(lambda x: int(x.split('M')[0]))
KONJUN['MONTH']=KONJUN['TID'].apply(lambda x: int(x.split('M')[1]))
KONJUN

/Users/mariannerasmussen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/mariannerasmussen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ERHVERV,MÆNGDE4,TID,INDHOLD,YEAR,MONTH
246,Manufacturing industries,Month over month,1998M02,-0.19,1998,2
247,Manufacturing industries,Month over month,1998M03,-0.19,1998,3
248,Manufacturing industries,Month over month,1998M04,-0.20,1998,4
249,Manufacturing industries,Month over month,1998M05,-0.20,1998,5
250,Manufacturing industries,Month over month,1998M06,-0.21,1998,6
251,Manufacturing industries,Month over month,1998M07,-0.23,1998,7
252,Manufacturing industries,Month over month,1998M08,-0.24,1998,8
253,Manufacturing industries,Month over month,1998M09,-0.26,1998,9
254,Manufacturing industries,Month over month,1998M10,-0.26,1998,10
255,Manufacturing industries,Month over month,1998M11,-0.24,1998,11
256,Manufacturing industries,Month over month,1998M12,-0.21,1998,12
257,Manufacturing industries,Month over month,1999M01,-0.15,1999,1
258,Manufacturing industries,Month over month,1999M02,-0.09,1999,2
259,Manufacturing industries,Month over month,1999M03,-0.02,1999,3
260,Manufacturing industries,Month over month,1999M04,0.05,1999,4
261,Manufacturing industries,Month over month,1999M05,0.11,1999,5
262,Manufacturing industries,Month over month,1999M06,0.15,1999,6
263,Manufacturing industries,Month over month,1999M07,0.18,1999,7
264,Manufacturing industries,Month over month,1999M08,0.19,1999,8
265,Manufacturing industries,Month over month,1999M09,0.19,1999,9
266,Manufacturing industries,Month over month,1999M10,0.18,1999,10
267,Manufacturing industries,Month over month,1999M11,0.18,1999,11
268,Manufacturing industries,Month over month,1999M12,0.17,1999,12
269,Manufacturing industries,Month over month,2000M01,0.17,2000,1
270,Manufacturing industries,Month over month,2000M02,0.16,2000,2
271,Manufacturing industries,Month over month,2000M03,0.16,2000,3
272,Manufacturing industries,Month over month,2000M04,0.15,2000,4
273,Manufacturing industries,Month over month,2000M05,0.13,2000,5
274,Manufacturing industries,Month over month,2000M06,0.11,2000,6
275,Manufacturing industries,Month over month,2000M07,0.08,2000,7
276,Manufacturing industries,Month over month,2000M08,0.04,2000,8
277,Manufacturing industries,Month over month,2000M09,0.01,2000,9
278,Manufacturing industries,Month over month,2000M10,-0.03,2000,10
279,Manufacturing industries,Month over month,2000M11,-0.07,2000,11
280,Manufacturing industries,Month over month,2000M12,-0.11,2000,12
281,Manufacturing industries,Month over month,2001M01,-0.14,2001,1
282,Manufacturing industries,Month over month,2001M02,-0.17,2001,2
283,Manufacturing industries,Month over month,2001M03,-0.19,2001,3
284,Manufacturing industries,Month over month,2001M04,-0.20,2001,4
285,Manufacturing industries,Month over month,2001M05,-0.20,2001,5
286,Manufacturing industries,Month over month,2001M06,-0.19,2001,6
287,Manufacturing industries,Month over month,2001M07,-0.18,2001,7
288,Manufacturing industries,Month over month,2001M08,-0.17,2001,8
289,Manufacturing industries,Month over month,2001M09,-0.15,2001,9
290,Manufacturing industries,Month over month,2001M10,-0.12,2001,10
291,Manufacturing industries,Month over month,2001M11,-0.07,2001,11
292,Manufacturing industries,Month over month,2001M12,-0.03,2001,12
293,Manufacturing industries,Month over month,2002M01,0.02,2002,1
294,Manufacturing industries,Month over month,2002M02,0.05,2002,2
295,Manufacturing industries,Month over month,2002M03,0.08,2002,3
296,Manufacturing industries,Month over month,2002M04,0.08,2002,4
297,Manufacturing industries,Month over month,2002M05,0.08,2002,5
298,Manufacturing industries,Month over month,2002M06,0.07,2002,6
299,Manufacturing industries,Month over month,2002M07,0.05,2002,7
300,Manufacturing industries,Month over month,2002M08,0.03,2002,8
301,Manufacturing industries,Month over month,2002M09,0.01,2002,9
302,Manufacturing industries,Month over month,2002M10,-0.01,2002,10
303,Manufacturing industries,Month over month,2002M11,-0.03,2002,11
304,Manufacturing industries,Month over month,2002M12,-0.05,2002,12
305,Manufacturing industries,Month over month,2003M01,-0.06,2003,1
306,Manufacturing industries,Month over month,2003M02,-0.07,2003,2
307,Manufacturing industries,Month over month,2003M03,-0.06,2003,3
308,Manufacturing industries,Month over month,2003M04,-0.04,2003,4
309,Manufacturing industries,Month over month,2003M05,-0.02,2003,5
310,Manufacturing industries,Month over month,2003M06,0.02,2003,6
311,Manufacturing industries,Month over month,2003M07,0.06,2003,7
312,Manufacturing industries,Month over month,2003M08,0.10,2003,8
313,Manufacturing industries,Month over month,2003M09,0.14,2003,9
314,Manufacturing industries,Month over month,2003M10,0.16,2003,10
315,Manufacturing industries,Month over month,2003M11,0.17,2003,11
316,Manufacturing industries,Month over month,2003M12,0.16,2003,12
317,Manufacturing industries,Month over month,2004M01,0.15,2004,1
318,Manufacturing industries,Month over month,2004M02,0.13,2004,2
319,Manufacturing industries,Month over month,2004M03,0.11,2004,3
320,Manufacturing industries,Month over month,2004M04,0.09,2004,4
321,Manufacturing industries,Month over month,2004M05,0.06,2004,5
322,Manufacturing industries,Month over month,2004M06,0.02,2004,6
323,Manufacturing industries,Month over month,2004M07,-0.02,2004,7
324,Manufacturing industries,Month over month,2004M08,-0.05,2004,8
325,Manufacturing industries,Month over month,2004M09,-0.07,2004,9
326,Manufacturing industries,Month over month,2004M10,-0.09,2004,10
327,Manufacturing industries,Month over month,2004M11,-0.09,2004,11
328,Manufacturing industries,Month over month,2004M12,-0.09,2004,12
329,Manufacturing industries,Month over month,2005M01,-0.07,2005,1
330,Manufacturing industries,Month over month,2005M02,-0.05,2005,2
331,Manufacturing industries,Month over month,2005M03,-0.02,2005,3
332,Manufacturing industries,Month over month,2005M04,0.01,2005,4
333,Manufacturing industries,Month over month,2005M05,0.04,2005,5
334,Manufacturing industries,Month over month,2005M06,0.06,2005,6
335,Manufacturing industries,Month over month,2005M07,0.08,2005,7
336,Manufacturing industries,Month over month,2005M08,0.10,2005,8
337,Manufacturing industries,Month over month,2005M09,0.10,2005,9
338,Manufacturing industries,Month over month,2005M10,0.10,2005,10
339,Manufacturing industries,Month over month,2005M11,0.10,2005,11
340,Manufacturing industries,Month over month,2005M12,0.10,2005,12
341,Manufacturing industries,Month over month,2006M01,0.10,2006,1
342,Manufacturing industries,Month over month,2006M02,0.09,2006,2
343,Manufacturing industries,Month over month,2006M03,0.08,2006,3
344,Manufacturing industries,Month over month,2006M04,0.07,2006,4
345,Manufacturing industries,Month over month,2006M05,0.06,2006,5
346,Manufacturing industries,Month over month,2006M06,0.05,2006,6
347,Manufacturing industries,Month over month,2006M07,0.03,2006,7
348,Manufacturing industries,Month over month,2006M08,0.02,2006,8
349,Manufacturing industries,Month over month,2006M09,0.01,2006,9
350,Manufacturing industries,Month over month,2006M10,0.01,2006,10
351,Manufacturing industries,Month over month,2006M11,0.00,2006,11
352,Manufacturing industries,Month over month,2006M12,-0.01,2006,12
353,Manufacturing industries,Month over month,2007M01,-0.01,2007,1
354,Manufacturing industries,Month over month,2007M02,-0.02,2007,2
355,Manufacturing industries,Month over month,2007M03,-0.03,2007,3
356,Manufacturing industries,Month over month,2007M04,-0.04,2007,4
357,Manufacturing industries,Month over month,2007M05,-0.05,2007,5
358,Manufacturing industries,Month over month,2007M06,-0.06,2007,6
359,Manufacturing industries,Month over month,2007M07,-0.07,2007,7
360,Manufacturing industries,Month over month,2007M08,-0.07,2007,8
361,Manufacturing industries,Month over month,2007M09,-0.08,2007,9
362,Manufacturing industries,Month over month,2007M10,-0.08,2007,10
363,Manufacturing industries,Month over month,2007M11,-0.09,2007,11
364,Manufacturing industries,Month over month,2007M12,-0.09,2007,12
365,Manufacturing industries,Month over month,2008M01,-0.10,2008,1
366,Manufacturing industries,Month over month,2008M02,-0.12,2008,2
367,Manufacturing industries,Month over month,2008M03,-0.14,2008,3
368,Manufacturing industries,Month over month,2008M04,-0.17,2008,4
369,Manufacturing industries,Month over month,2008M05,-0.21,2008,5
370,Manufacturing industries,Month over month,2008M06,-0.25,2008,6
371,Manufacturing industries,Month over month,2008M07,-0.30,2008,7
372,Manufacturing industries,Month over month,2008M08,-0.35,2008,8
373,Manufacturing industries,Month over month,2008M09,-0.38,2008,9
374,Manufacturing industries,Month over month,2008M10,-0.39,2008,10
375,Manufacturing industries,Month over month,2008M11,-0.38,2008,11
376,Manufacturing industries,Month over month,2008M12,-0.35,2008,12
377,Manufacturing industries,Month over month,2009M01,-0.29,2009,1
378,Manufacturing industries,Month over month,2009M02,-0.21,2009,2
379,Manufacturing industries,Month over month,2009M03,-0.11,2009,3
380,Manufacturing industries,Month over month,2009M04,-0.01,2009,4
381,Manufacturing industries,Month over month,2009M05,0.09,2009,5
382,Manufacturing industries,Month over month,2009M06,0.16,2009,6
383,Manufacturing industries,Month over month,2009M07,0.21,2009,7
384,Manufacturing industries,Month over month,2009M08,0.25,2009,8
385,Manufacturing industries,Month over month,2009M09,0.27,2009,9
386,Manufacturing industries,Month over month,2009M10,0.29,2009,10
387,Manufacturing industries,Month over month,2009M11,0.30,2009,11
388,Manufacturing industries,Month over month,2009M12,0.29,2009,12
389,Manufacturing industries,Month over month,2010M01,0.29,2010,1
390,Manufacturing industries,Month over month,2010M02,0.28,2010,2
391,Manufacturing industries,Month over month,2010M03,0.27,2010,3
392,Manufacturing industries,Month over month,2010M04,0.25,2010,4
393,Manufacturing industries,Month over month,2010M05,0.22,2010,5
394,Manufacturing industries,Month over month,2010M06,0.18,2010,6
395,Manufacturing industries,Month over month,2010M07,0.14,2010,7
396,Manufacturing industries,Month over month,2010M08,0.10,2010,8
397,Manufacturing industries,Month over month,2010M09,0.08,2010,9
398,Manufacturing industries,Month over month,2010M10,0.06,2010,10
399,Manufacturing industries,Month over month,2010M11,0.06,2010,11
400,Manufacturing industries,Month over month,2010M12,0.07,2010,12
401,Manufacturing industries,Month over month,2011M01,0.07,2011,1
402,Manufacturing industries,Month over month,2011M02,0.08,2011,2
403,Manufacturing industries,Month over month,2011M03,0.07,2011,3
404,Manufacturing industries,Month over month,2011M04,0.05,2011,4
405,Manufacturing industries,Month over month,2011M05,0.02,2011,5
406,Manufacturing industries,Month over month,2011M06,-0.02,2011,6
407,Manufacturing industries,Month over month,2011M07,-0.05,2011,7
408,Manufacturing industries,Month over month,2011M08,-0.07,2011,8
409,Manufacturing industries,Month over month,2011M09,-0.08,2011,9
410,Manufacturing industries,Month over month,2011M10,-0.08,2011,10
411,Manufacturing industries,Month over month,2011M11,-0.06,2011,11
412,Manufacturing industries,Month over month,2011M12,-0.05,2011,12
413,Manufacturing industries,Month over month,2012M01,-0.04,2012,1
414,Manufacturing industries,Month over month,2012M02,-0.04,2012,2
415,Manufacturing industries,Month over month,2012M03,-0.05,2012,3
416,Manufacturing industries,Month over month,2012M04,-0.06,2012,4
417,Manufacturing industries,Month over month,2012M05,-0.07,2012,5
418,Manufacturing industries,Month over month,2012M06,-0.08,2012,6
419,Manufacturing industries,Month over month,2012M07,-0.09,2012,7
420,Manufacturing industries,Month over month,2012M08,-0.09,2012,8
421,Manufacturing industries,Month over month,2012M09,-0.09,2012,9
422,Manufacturing industries,Month over month,2012M10,-0.07,2012,10
423,Manufacturing industries,Month over month,2012M11,-0.05,2012,11
424,Manufacturing industries,Month over month,2012M12,-0.03,2012,12
425,Manufacturing industries,Month over month,2013M01,0.00,2013,1
426,Manufacturing industries,Month over month,2013M02,0.02,2013,2
427,Manufacturing industries,Month over month,2013M03,0.05,2013,3
428,Manufacturing industries,Month over month,2013M04,0.08,2013,4
429,Manufacturing industries,Month over month,2013M05,0.11,2013,5
430,Manufacturing industries,Month over month,2013M06,0.13,2013,6
431,Manufacturing industries,Month over month,2013M07,0.15,2013,7
432,Manufacturing industries,Month over month,2013M08,0.15,2013,8
433,Manufacturing industries,Month over month,2013M09,0.14,2013,9
434,Manufacturing industries,Month over month,2013M10,0.12,2013,10
435,Manufacturing industries,Month over month,2013M11,0.09,2013,11
436,Manufacturing industries,Month over month,2013M12,0.05,2013,12
437,Manufacturing industries,Month over month,2014M01,0.02,2014,1
438,Manufacturing industries,Month over month,2014M02,-0.03,2014,2
439,Manufacturing industries,Month over month,2014M03,-0.08,2014,3
440,Manufacturing industries,Month over month,2014M04,-0.13,2014,4
441,Manufacturing industries,Month over month,2014M05,-0.19,2014,5
442,Manufacturing industries,Month over month,2014M06,-0.22,2014,6
443,Manufacturing industries,Month over month,2014M07,-0.23,2014,7
444,Manufacturing industries,Month over month,2014M08,-0.23,2014,8
445,Manufacturing industries,Month over month,2014M09,-0.21,2014,9
446,Manufacturing industries,Month over month,2014M10,-0.18,2014,10
447,Manufacturing industries,Month over month,2014M11,-0.14,2014,11
448,Manufacturing industries,Month over month,2014M12,-0.09,2014,12
449,Manufacturing industries,Month over month,2015M01,-0.04,2015,1
450,Manufacturing industries,Month over month,2015M02,0.01,2015,2
451,Manufacturing industries,Month over month,2015M03,0.05,2015,3
452,Manufacturing industries,Month over month,2015M04,0.08,2015,4
453,Manufacturing industries,Month over month,2015M05,0.10,2015,5
454,Manufacturing industries,Month over month,2015M06,0.10,2015,6
455,Manufacturing industries,Month over month,2015M07,0.09,2015,7
456,Manufacturing industries,Month over month,2015M08,0.07,2015,8
457,Manufacturing industries,Month over month,2015M09,0.05,2015,9
458,Manufacturing industries,Month over month,2015M10,0.03,2015,10
459,Manufacturing industries,Month over month,2015M11,0.01,2015,11
460,Manufacturing industries,Month over month,2015M12,-0.01,2015,12
461,Manufacturing industries,Month over month,2016M01,-0.02,2016,1
462,Manufacturing industries,Month over month,2016M02,-0.02,2016,2
463,Manufacturing industries,Month over month,2016M03,-0.02,2016,3
464,Manufacturing industries,Month over month,2016M04,-0.02,2016,4
465,Manufacturing industries,Month over month,2016M05,-0.02,2016,5
466,Manufacturing industries,Month over month,2016M06,-0.02,2016,6
467,Manufacturing industries,Month over month,2016M07,-0.02,2016,7
468,Manufacturing industries,Month over month,2016M08,-0.02,2016,8
469,Manufacturing industries,Month over month,2016M09,0.00,2016,9
470,Manufacturing industries,Month over month,2016M10,0.03,2016,10
471,Manufacturing industries,Month over month,2016M11,0.06,2016,11
472,Manufacturing industries,Month over month,2016M12,0.09,2016,12
473,Manufacturing industries,Month over month,2017M01,0.11,2017,1
474,Manufacturing industries,Month over month,2017M02,0.11,2017,2
475,Manufacturing industries,Month over month,2017M03,0.11,2017,3
476,Manufacturing industries,Month over month,2017M04,0.10,2017,4
477,Manufacturing industries,Month over month,2017M05,0.08,2017,5
478,Manufacturing industries,Month over month,2017M06,0.07,2017,6
479,Manufacturing industries,Month over month,2017M07,0.05,2017,7
480,Manufacturing industries,Month over month,2017M08,0.02,2017,8
481,Manufacturing industries,Month over month,2017M09,0.01,2017,9
482,Manufacturing industries,Month over month,2017M10,0.00,2017,10
483,Manufacturing industries,Month over month,2017M11,0.00,2017,11
484,Manufacturing industries,Month over month,2017M12,-0.01,2017,12
485,Manufacturing industries,Month over month,2018M01,-0.01,2018,1
486,Manufacturing industries,Month over month,2018M02,-0.03,2018,2
487,Manufacturing industries,Month over month,2018M03,-0.01,2018,3
488,Manufacturing industries,Month over month,2018M04,0.02,2018,4
489,Manufacturing industries,Month over month,2018M05,0.05,2018,5
490,Manufacturing industries,Month over month,2018M06,0.07,2018,6
491,Manufacturing industries,Month over month,2018M07,0.07,2018,7
738,Construction industry,Month over month,1998M02,-0.04,1998,2
739,Construction industry,Month over month,1998M03,-0.04,1998,3
740,Construction industry,Month over month,1998M04,-0.05,1998,4
741,Construction industry,Month over month,1998M05,-0.07,1998,5
742,Construction industry,Month over month,1998M06,-0.09,1998,6
743,Construction industry,Month over month,1998M07,-0.11,1998,7
744,Construction industry,Month over month,1998M08,-0.12,1998,8
745,Construction industry,Month over month,1998M09,-0.13,1998,9
746,Construction industry,Month over month,1998M10,-0.13,1998,10
747,Construction industry,Month over month,1998M11,-0.12,1998,11
748,Construction industry,Month over month,1998M12,-0.09,1998,12
749,Construction industry,Month over month,1999M01,-0.06,1999,1
750,Construction industry,Month over month,1999M02,-0.02,1999,2
751,Construction industry,Month over month,1999M03,0.01,1999,3
752,Construction industry,Month over month,1999M04,0.03,1999,4
753,Construction industry,Month over month,1999M05,0.04,1999,5
754,Construction industry,Month over month,1999M06,0.04,1999,6
755,Construction industry,Month over month,1999M07,0.04,1999,7
756,Construction industry,Month over month,1999M08,0.03,1999,8
757,Construction industry,Month over month,1999M09,0.03,1999,9
758,Construction industry,Month over month,1999M10,0.04,1999,10
759,Construction industry,Month over month,1999M11,0.05,1999,11
760,Construction industry,Month over month,1999M12,0.06,1999,12
761,Construction industry,Month over month,2000M01,0.07,2000,1
762,Construction industry,Month over month,2000M02,0.06,2000,2
763,Construction industry,Month over month,2000M03,0.04,2000,3
764,Construction industry,Month over month,2000M04,0.02,2000,4
765,Construction industry,Month over month,2000M05,-0.01,2000,5
766,Construction industry,Month over month,2000M06,-0.02,2000,6
767,Construction industry,Month over month,2000M07,-0.03,2000,7
768,Construction industry,Month over month,2000M08,-0.05,2000,8
769,Construction industry,Month over month,2000M09,-0.05,2000,9
770,Construction industry,Month over month,2000M10,-0.06,2000,10
771,Construction industry,Month over month,2000M11,-0.06,2000,11
772,Construction industry,Month over month,2000M12,-0.05,2000,12
773,Construction industry,Month over month,2001M01,-0.04,2001,1
774,Construction industry,Month over month,2001M02,-0.04,2001,2
775,Construction industry,Month over month,2001M03,-0.03,2001,3
776,Construction industry,Month over month,2001M04,-0.03,2001,4
777,Construction industry,Month over month,2001M05,-0.03,2001,5
778,Construction industry,Month over month,2001M06,-0.03,2001,6
779,Construction industry,Month over month,2001M07,-0.04,2001,7
780,Construction industry,Month over month,2001M08,-0.04,2001,8
781,Construction industry,Month over month,2001M09,-0.04,2001,9
782,Construction industry,Month over month,2001M10,-0.03,2001,10
783,Construction industry,Month over month,2001M11,-0.02,2001,11
784,Construction industry,Month over month,2001M12,-0.01,2001,12
785,Construction industry,Month over month,2002M01,0.00,2002,1
786,Construction industry,Month over month,2002M02,0.00,2002,2
787,Construction industry,Month over month,2002M03,0.00,2002,3
788,Construction industry,Month over month,2002M04,-0.02,2002,4
789,Construction industry,Month over month,2002M05,-0.04,2002,5
790,Construction industry,Month over month,2002M06,-0.06,2002,6
791,Construction industry,Month over month,2002M07,-0.08,2002,7
792,Construction industry,Month over month,2002M08,-0.09,2002,8

In [121]:
KONJUN.columns=['PROFESSION', 'MEASURING', 'TIME', 'CONTENT', 'YEAR', 'MONTH']
KONJUN
KONJUN[KONJUN['YEAR'].isin([2008,2009])]

,PROFESSION,MEASURING,TIME,CONTENT,YEAR,MONTH
365,Manufacturing industries,Month over month,2008M01,-0.10,2008,1
366,Manufacturing industries,Month over month,2008M02,-0.12,2008,2
367,Manufacturing industries,Month over month,2008M03,-0.14,2008,3
368,Manufacturing industries,Month over month,2008M04,-0.17,2008,4
369,Manufacturing industries,Month over month,2008M05,-0.21,2008,5
370,Manufacturing industries,Month over month,2008M06,-0.25,2008,6
371,Manufacturing industries,Month over month,2008M07,-0.30,2008,7
372,Manufacturing industries,Month over month,2008M08,-0.35,2008,8
373,Manufacturing industries,Month over month,2008M09,-0.38,2008,9
374,Manufacturing industries,Month over month,2008M10,-0.39,2008,10
375,Manufacturing industries,Month over month,2008M11,-0.38,2008,11
376,Manufacturing industries,Month over month,2008M12,-0.35,2008,12
377,Manufacturing industries,Month over month,2009M01,-0.29,2009,1
378,Manufacturing industries,Month over month,2009M02,-0.21,2009,2
379,Manufacturing industries,Month over month,2009M03,-0.11,2009,3
380,Manufacturing industries,Month over month,2009M04,-0.01,2009,4
381,Manufacturing industries,Month over month,2009M05,0.09,2009,5
382,Manufacturing industries,Month over month,2009M06,0.16,2009,6
383,Manufacturing industries,Month over month,2009M07,0.21,2009,7
384,Manufacturing industries,Month over month,2009M08,0.25,2009,8
385,Manufacturing industries,Month over month,2009M09,0.27,2009,9
386,Manufacturing industries,Month over month,2009M10,0.29,2009,10
387,Manufacturing industries,Month over month,2009M11,0.30,2009,11
388,Manufacturing industries,Month over month,2009M12,0.29,2009,12
857,Construction industry,Month over month,2008M01,-0.10,2008,1
858,Construction industry,Month over month,2008M02,-0.11,2008,2
859,Construction industry,Month over month,2008M03,-0.13,2008,3
860,Construction industry,Month over month,2008M04,-0.16,2008,4
861,Construction industry,Month over month,2008M05,-0.19,2008,5
862,Construction industry,Month over month,2008M06,-0.22,2008,6
863,Construction industry,Month over month,2008M07,-0.25,2008,7
864,Construction industry,Month over month,2008M08,-0.26,2008,8
865,Construction industry,Month over month,2008M09,-0.27,2008,9
866,Construction industry,Month over month,2008M10,-0.26,2008,10
867,Construction industry,Month over month,2008M11,-0.24,2008,11
868,Construction industry,Month over month,2008M12,-0.21,2008,12
869,Construction industry,Month over month,2009M01,-0.17,2009,1
870,Construction industry,Month over month,2009M02,-0.13,2009,2
871,Construction industry,Month over month,2009M03,-0.09,2009,3
872,Construction industry,Month over month,2009M04,-0.06,2009,4
873,Construction industry,Month over month,2009M05,-0.04,2009,5
874,Construction industry,Month over month,2009M06,-0.02,2009,6
875,Construction industry,Month over month,2009M07,-0.01,2009,7
876,Construction industry,Month over month,2009M08,-0.01,2009,8
877,Construction industry,Month over month,2009M09,0.00,2009,9
878,Construction industry,Month over month,2009M10,0.01,2009,10
879,Construction industry,Month over month,2009M11,0.03,2009,11
880,Construction industry,Month over month,2009M12,0.06,2009,12
1349,Services,Month over month,2008M01,-0.09,2008,1
1350,Services,Month over month,2008M02,-0.12,2008,2
1351,Services,Month over month,2008M03,-0.14,2008,3
1352,Services,Month over month,2008M04,-0.17,2008,4
1353,Services,Month over month,2008M05,-0.20,2008,5
1354,Services,Month over month,2008M06,-0.22,2008,6
1355,Services,Month over month,2008M07,-0.24,2008,7
1356,Services,Month over month,2008M08,-0.26,2008,8
1357,Services,Month over month,2008M09,-0.27,2008,9
1358,Services,Month over month,2008M10,-0.27,2008,10
1359,Services,Month over month,2008M11,-0.26,2008,11
1360,Services,Month over month,2008M12,-0.23,2008,12
1361,Services,Month over month,2009M01,-0.18,2009,1
1362,Services,Month over month,2009M02,-0.12,2009,2
1363,Services,Month over month,2009M03,-0.06,2009,3
1364,Services,Month over month,2009M04,0.00,2009,4
1365,Services,Month over month,2009M05,0.05,2009,5
1366,Services,Month over month,2009M06,0.08,2009,6
1367,Services,Month over month,2009M07,0.11,2009,7
1368,Services,Month over month,2009M08,0.13,2009,8
1369,Services,Month over month,2009M09,0.14,2009,9
1370,Services,Month over month,2009M10,0.14,2009,10
1371,Services,Month over month,2009M11,0.14,2009,11
1372,Services,Month over month,2009M12,0.14,2009,12
1841,Retail trade,Month over month,2008M01,-0.11,2008,1
1842,Retail trade,Month over month,2008M02,-0.14,2008,2
1843,Retail trade,Month over month,2008M03,-0.18,2008,3
1844,Retail trade,Month over month,2008M04,-0.22,2008,4
1845,Retail trade,Month over month,2008M05,-0.26,2008,5
1846,Retail trade,Month over month,2008M06,-0.30,2008,6
1847,Retail trade,Month over month,2008M07,-0.33,2008,7
1848,Retail trade,Month over month,2008M08,-0.35,2008,8
1849,Retail trade,Month over month,2008M09,-0.36,2008,9
1850,Retail trade,Month over month,2008M10,-0.34,2008,10
1851,Retail trade,Month over month,2008M11,-0.28,2008,11
1852,Retail trade,Month over month,2008M12,-0.21,2008,12
1853,Retail trade,Month over month,2009M01,-0.12,2009,1
1854,Retail trade,Month over month,2009M02,-0.02,2009,2
1855,Retail trade,Month over month,2009M03,0.07,2009,3
1856,Retail trade,Month over month,2009M04,0.14,2009,4
1857,Retail trade,Month over month,2009M05,0.19,2009,5
1858,Retail trade,Month over month,2009M06,0.22,2009,6
1859,Retail trade,Month over month,2009M07,0.23,2009,7
1860,Retail trade,Month over month,2009M08,0.22,2009,8
1861,Retail trade,Month over month,2009M09,0.21,2009,9
1862,Retail trade,Month over month,2009M10,0.19,2009,10
1863,Retail trade,Month over month,2009M11,0.17,2009,11
1864,Retail trade,Month over month,2009M12,0.16,2009,12

In [122]:
KONJUN.to_csv('test_KONJUN.csv')