## Import the packages

In [1]:
# import packages
import requests, json
import pandas as pd, numpy as np
import time, os
from bs4 import BeautifulSoup
import re
from datetime import datetime

## Parsing the data

The following steps parse the scraped html

### The first cell defines our parsing functions

In [29]:
def prepros(html) :
    d=json.loads(html)
    
    soup = BeautifulSoup(d['result_list_box_html'],'lxml')
    
    # this selects the main part of the html
    tabel = soup.find('div', attrs={'class':'results component--default'})
    
    # Jobindex contain both own postings and postings from other
    # the two are treated differently in the data
    # Jobindex' imported postings
    others = re.compile('r[\d]+')
    tabel1 = tabel.findAll('div', attrs={'data-beacon-tid':others})
#    print(tabel1)

    # Jobindex' own postings
    own = re.compile('h[\d]+')
    tabel2 = tabel.findAll('div', attrs={'data-beacon-tid':own})
    #print(tabel2)
    
    return tabel, tabel1, tabel2

def job_descr_own(tabel2) : # den er færdig (næsten, der kommer lidt snask med, men det er ok)
    desc_own = []
    lineshift = re.compile('\n')
    # tag ul skal med 
    for l in tabel2 :
        g1 = l.findAll('p') 
        g2 = l.findAll('li')
        qs = ''
#        print(g)
        for m in g1 :
            qs = qs + m.text + ". " 
        for m in g2 :
            if 'class=' not in m.text :
                qs = qs + m.text + ". " 
        desc_own.append(lineshift.sub("", qs))
    return desc_own

def job_descr_oth(tabel1) : # færdig og virker
    desc_oth = []
    p=re.compile('"')
    lineshift = re.compile('\n')
    besk = []
    for t_ in tabel1 :
        besk.append(lineshift.sub("", t_.text))
    for t in besk :
        s = t.split(sep='    ')
        if len(s) == 1 :
            desc_oth.append("")
        else :
            desc_oth.append(t.split(sep='    ')[1])
    return desc_oth
    
def job_title_oth (tabel) : # færdig og virker
    # udled jobs andre
    jobs_oth = []
    j = tabel.findAll('strong') 
    for l in j :
        jobs_oth.append(l.text)
    return jobs_oth


def firm_place(tabel) : # ok
    firm=[]
    city=[]
    for tag in tabel :
        firm_city=tag.findAll('b')
        if len(firm_city) == 0 :
            firm.append("Ukendt")
            city.append("Uoplyst")
        elif len(firm_city) == 1 :
            firm.append(firm_city[0].text)
            city.append(" ")
        else :
            firm.append(firm_city[0].text)
            city.append(firm_city[1].text)
    return firm, city


def dates(tabel) : # ok
    indented_d=[]
    for tag in tabel :
        dato_site=tag.findAll('time')

        monthval={'januar': 1,'februar': 2, 'marts': 3, 'april': 4, 'maj': 5, 'juni': 6, \
                  'juli': 7,'august': 8,'september': 9,'oktober': 10,'november': 11,'december': 12}

        for i in dato_site:
            t = i.text.split()
#            try :
#            datotal=(t[0][:-1]+ monthval.get(t[1])+ t[2])
            indented_d.append(datetime(int(t[2]), int(monthval.get(t[1])), int(t[0][:-1])))
#                indented_d.append(time.mktime(datetime.strptime(str(datotal), '%d%m%Y').timetuple()))
#            except :
#                indented_d.append(time.time()) # vi bør videreføre sidst kendte værdi også på tværs af sider
    return indented_d

def firms_own_fct(tabel2):
    firms_own = []
    for tag in tabel2 :
        firms_egne=tag('img')
        regex = re.compile('alt="(.*?)" (?!border: 0px; margin: 0)')
        firms_own_=regex.findall(str(firms_egne))
        if len(firms_own_) == 0 :
            firms_own_ = 'Ukendt'
        firms_own.append(firms_own_[0])
    return firms_own


def cities_own(tabel2) :
    city_own = []
    for tag in tabel2 :
        cit = tag('p')
        regex = re.compile('</a>, (.+?)\s*?</p>')
        cities = regex.findall(str(cit))
        if len(cities) == 0 :
            cities = ['Uoplyst']
        city_own.append(cities[0])
    return city_own

### To test the parsing, we select a subsample

In [15]:
# select small subsample
import random, time

ca_samplesize = 200
#base_path = r"C:/Notebooks/jobindex.txt"
base_path = r"C:\Users\pot\Documents\GitHub/jobindex.txt"
#sample_path = r"C:/Notebooks/jobindex_sample.txt"
sample_path = r"C:\Users\pot\Documents\GitHub/jobindex_sample.txt"
f = open(base_path,'r')
s = open(sample_path, 'w')
linienr = 0
t0 = time.time()
for line in f :
    ran = random.uniform(0, 1) 
    if ran < ca_samplesize/17000 :
        linienr += 1
        s.write(line)
f.close()
t1 = time.time()
print("Start:", t0, ". Slut:", t1, ". Linier hentet:", linienr)
print("Kørseltid:", round(t1-t0,2), "sekunder")

Start: 1535401974.650813 . Slut: 1535401984.9324229 . Linier hentet: 182
Kørseltid: 10.28 sekunder

### The function that governs the parsing and concatanate the results

In [32]:

def process_data() :
    t0 = time.time()
    base_path = r"C:\Users\pot\Documents\GitHub\jobindex2.txt" # file with scraped jobindex data
#    base_path = r"C:\Users\pot\Documents\GitHub\jobindex2.txt" # file with scraped jobindex data
    

    f = open(base_path, mode='r', encoding='utf8') # open the file for reading # jobindex2 skal læses med , encoding='utf8'
    count = 0
    # loop through the file one line at a time

    output_oth = pd.DataFrame(columns=['date', 'job_title', 'job_describ', 'city', 'company'])
    output_own = pd.DataFrame(columns=['date', 'job_describ', 'city', 'company'])
    
   
    for html in f :
        count += 1
#        print(count, len(html))
        if len(html) == 1 :
            continue
        # here the various processing functions will be called
        tabel, tabel1, tabel2= prepros(html)
#        print(len(tabel))

        desc_own = job_descr_own(tabel2)
#        print("desc_own", '\n', len(desc_own), '\n', desc_own)

        desc_oth = job_descr_oth(tabel1)
#        print('desc_oth', len(desc_oth), desc_oth)
        
        jobs_oth = job_title_oth(tabel)
#        print('jobs_oth', len(jobs_oth), jobs_oth)
        
        firm_oth, city_oth = firm_place(tabel1)
#        print("Andre firms:", len(firm_oth))
        
        post_dates_oth = dates(tabel1)
#        print("dates", len(post_dates_oth))

        post_dates_own = dates(tabel2)
#        print("dates", len(post_dates_own), post_dates_own)

        firms_own = firms_own_fct(tabel2)
#        print("Egne firms:", len(firms_own), '\n', firms_own)

        city_own = cities_own(tabel2)
#        print("Egne city:", len(city_own), '\n', city_own)
#        print("\n")
    
    # der skal laves en zip-funktion, så de kan blive sat rigtig sammen
#    return desc_own, desc_oth, jobs_oth, firm, city, post_dates
        tmp = pd.DataFrame(list(zip(post_dates_oth, jobs_oth, desc_oth, city_oth, firm_oth)), 
                           columns=['date', 'job_title', 'job_describ', 'city', 'company'])
        output_oth = pd.concat([output_oth, tmp], axis=0, join='inner', ignore_index=True)
 
#        print("Dato:", '\n', post_dates_own, '\n')
#        print("Beskrivelse:", '\n', desc_own, '\n')
#        print("Byer:", '\n', city_own, '\n')
#        print("Firma:", '\n', firms_own, '\n')
    

        tmp2 = pd.DataFrame(list(zip(post_dates_own, desc_own, city_own, firms_own)),
                           columns=['date', 'job_describ', 'city', 'company'])
        output_own = pd.concat([output_own, tmp2], axis=0, join='inner', ignore_index=True)
    f.close()
    t1 = time.time()
    print("Procestid er", int((t1-t0)/60), "minutter og", round((t1-t0)%60, 2), "sekunder")
    #print(output_oth)
    return output_oth, output_own

output_oth, output_own = process_data()

#Procestid er 17 minutter og 59.43 sekunder for both1
#Procestid er 6 minutter og 31.98 sekunder for both2

Procestid er 6 minutter og 24.07 sekunder

### Saves the outcome with pandas pickle

In [33]:
# gem data

print(output_oth.shape)
print(output_own.shape)

df_both = pd.concat([output_oth, output_own], axis=0, join='outer', ignore_index=True)
print(df_both.shape)
df_both.to_pickle('both2.pkl')

#print(df_both.tail(15))

(122581, 5)
(23699, 4)
(146280, 5)

C:\Users\pot\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

### Procedure to read the pandas pickle

In [34]:
# læs data 
ny1 = pd.read_pickle('both1.pkl')
ny2 = pd.read_pickle('both2.pkl')

df_both = pd.concat([ny1, ny2], axis=0, join='inner', ignore_index=True)

print("Shape", df_both.shape)
print("\n")
print(df_both.head(1), "\n", df_both.tail(2))

Shape (471820, 5)


                 city  company       date  \
0  Region Midtjylland  ABB A/S 2009-12-31

                                         job_describ  \
0  Til vores krævende og kompetente kunder som be...

                                           job_title
0  ABB - Salgsingeniør / Lavspændingskomponenter ...
            city                               company       date  \
471818  Brøndby   Strålfors Information Logistics A/S 2008-01-01
471819  Uoplyst  Entreprenørfirmaet Per Jørgensen ApS 2008-01-01

                                              job_describ job_title
471818  Strålfors Information Logistics A/S, Brøndby ....       NaN
471819  Entreprenørfirmaet Per Jørgensen ApS, Årslev ....       NaN

In [35]:
for dates in pd.unique(df_both.date) :
    print(dates)

2009-12-31T00:00:00.000000000
2009-12-30T00:00:00.000000000
2009-12-29T00:00:00.000000000
2009-12-28T00:00:00.000000000
2009-12-27T00:00:00.000000000
2009-12-26T00:00:00.000000000
2009-12-25T00:00:00.000000000
2009-12-24T00:00:00.000000000
2009-12-23T00:00:00.000000000
2009-12-22T00:00:00.000000000
2009-12-21T00:00:00.000000000
2009-12-20T00:00:00.000000000
2009-12-19T00:00:00.000000000
2009-12-18T00:00:00.000000000
2009-12-17T00:00:00.000000000
2009-12-16T00:00:00.000000000
2009-12-15T00:00:00.000000000
2009-12-14T00:00:00.000000000
2009-12-13T00:00:00.000000000
2009-12-12T00:00:00.000000000
2009-12-11T00:00:00.000000000
2009-12-10T00:00:00.000000000
2009-12-09T00:00:00.000000000
2009-12-08T00:00:00.000000000
2009-12-07T00:00:00.000000000
2009-12-06T00:00:00.000000000
2009-12-05T00:00:00.000000000
2009-12-04T00:00:00.000000000
2009-12-03T00:00:00.000000000
2009-12-02T00:00:00.000000000
2009-12-01T00:00:00.000000000
2009-11-30T00:00:00.000000000
2009-11-29T00:00:00.000000000
2009-11-28T00:00:00.000000000
2009-11-27T00:00:00.000000000
2009-11-26T00:00:00.000000000
2009-11-25T00:00:00.000000000
2009-11-24T00:00:00.000000000
2009-11-23T00:00:00.000000000
2009-11-22T00:00:00.000000000
2009-11-21T00:00:00.000000000
2009-11-20T00:00:00.000000000
2009-11-19T00:00:00.000000000
2009-11-18T00:00:00.000000000
2009-11-17T00:00:00.000000000
2009-11-16T00:00:00.000000000
2009-11-15T00:00:00.000000000
2009-11-14T00:00:00.000000000
2009-11-13T00:00:00.000000000
2009-11-12T00:00:00.000000000
2009-11-11T00:00:00.000000000
2009-11-10T00:00:00.000000000
2009-11-09T00:00:00.000000000
2009-11-08T00:00:00.000000000
2009-11-07T00:00:00.000000000
2009-11-06T00:00:00.000000000
2009-11-05T00:00:00.000000000
2009-11-04T00:00:00.000000000
2009-11-03T00:00:00.000000000
2009-11-02T00:00:00.000000000
2009-11-01T00:00:00.000000000
2009-10-31T00:00:00.000000000
2009-10-30T00:00:00.000000000
2009-10-29T00:00:00.000000000
2009-10-28T00:00:00.000000000
2009-10-27T00:00:00.000000000
2009-10-26T00:00:00.000000000
2009-10-25T00:00:00.000000000
2009-10-24T00:00:00.000000000
2009-10-23T00:00:00.000000000
2009-10-22T00:00:00.000000000
2009-10-21T00:00:00.000000000
2009-10-20T00:00:00.000000000
2009-10-19T00:00:00.000000000
2009-10-18T00:00:00.000000000
2009-10-17T00:00:00.000000000
2009-10-16T00:00:00.000000000
2009-10-15T00:00:00.000000000
2009-10-14T00:00:00.000000000
2009-10-13T00:00:00.000000000
2009-10-12T00:00:00.000000000
2009-10-11T00:00:00.000000000
2009-10-10T00:00:00.000000000
2009-10-09T00:00:00.000000000
2009-10-08T00:00:00.000000000
2009-10-07T00:00:00.000000000
2009-10-06T00:00:00.000000000
2009-10-05T00:00:00.000000000
2009-10-04T00:00:00.000000000
2009-10-03T00:00:00.000000000
2009-10-02T00:00:00.000000000
2009-10-01T00:00:00.000000000
2009-09-30T00:00:00.000000000
2009-09-29T00:00:00.000000000
2009-09-28T00:00:00.000000000
2009-09-27T00:00:00.000000000
2009-09-26T00:00:00.000000000
2009-09-25T00:00:00.000000000
2009-09-24T00:00:00.000000000
2009-09-23T00:00:00.000000000
2009-09-22T00:00:00.000000000
2009-09-21T00:00:00.000000000
2009-09-20T00:00:00.000000000
2009-09-19T00:00:00.000000000
2009-09-18T00:00:00.000000000
2009-09-17T00:00:00.000000000
2009-09-16T00:00:00.000000000
2009-09-15T00:00:00.000000000
2009-09-14T00:00:00.000000000
2009-09-13T00:00:00.000000000
2009-09-12T00:00:00.000000000
2009-09-11T00:00:00.000000000
2009-09-10T00:00:00.000000000
2009-09-09T00:00:00.000000000
2009-09-08T00:00:00.000000000
2009-09-07T00:00:00.000000000
2009-09-06T00:00:00.000000000
2009-09-05T00:00:00.000000000
2009-09-04T00:00:00.000000000
2009-09-03T00:00:00.000000000
2009-09-02T00:00:00.000000000
2009-09-01T00:00:00.000000000
2009-08-31T00:00:00.000000000
2009-08-30T00:00:00.000000000
2009-08-29T00:00:00.000000000
2009-08-28T00:00:00.000000000
2009-08-27T00:00:00.000000000
2009-08-26T00:00:00.000000000
2009-08-25T00:00:00.000000000
2009-08-24T00:00:00.000000000
2009-08-23T00:00:00.000000000
2009-08-22T00:00:00.000000000
2009-08-21T00:00:00.000000000
2009-08-20T00:00:00.000000000
2009-08-19T00:00:00.000000000
2009-08-18T00:00:00.000000000
2009-08-17T00:00:00.000000000
2009-08-16T00:00:00.000000000
2009-08-15T00:00:00.000000000
2009-08-14T00:00:00.000000000
2009-08-13T00:00:00.000000000
2009-08-12T00:00:00.000000000
2009-08-11T00:00:00.000000000
2009-08-10T00:00:00.000000000
2009-08-09T00:00:00.000000000
2009-08-08T00:00:00.000000000
2009-08-07T00:00:00.000000000
2009-08-06T00:00:00.000000000
2009-08-05T00:00:00.000000000
2009-08-04T00:00:00.000000000
2009-08-03T00:00:00.000000000
2009-08-02T00:00:00.000000000
2009-08-01T00:00:00.000000000
2009-07-31T00:00:00.000000000
2009-07-30T00:00:00.000000000
2009-07-29T00:00:00.000000000
2009-07-28T00:00:00.000000000
2009-07-27T00:00:00.000000000
2009-07-26T00:00:00.000000000
2009-07-25T00:00:00.000000000
2009-07-24T00:00:00.000000000
2009-07-23T00:00:00.000000000
2009-07-22T00:00:00.000000000
2009-07-21T00:00:00.000000000
2009-07-20T00:00:00.000000000
2009-07-19T00:00:00.000000000
2009-07-18T00:00:00.000000000
2009-07-17T00:00:00.000000000
2009-07-16T00:00:00.000000000
2009-07-15T00:00:00.000000000
2009-07-14T00:00:00.000000000
2009-07-13T00:00:00.000000000
2009-07-12T00:00:00.000000000
2009-07-11T00:00:00.000000000
2009-07-10T00:00:00.000000000
2009-07-09T00:00:00.000000000
2009-07-08T00:00:00.000000000
2009-07-07T00:00:00.000000000
2009-07-06T00:00:00.000000000
2009-07-05T00:00:00.000000000
2009-07-04T00:00:00.000000000
2009-07-03T00:00:00.000000000
2009-07-02T00:00:00.000000000
2009-07-01T00:00:00.000000000
2009-06-30T00:00:00.000000000
2009-06-29T00:00:00.000000000
2009-06-28T00:00:00.000000000
2009-06-27T00:00:00.000000000
2009-06-26T00:00:00.000000000
2009-06-25T00:00:00.000000000
2009-06-24T00:00:00.000000000
2009-06-23T00:00:00.000000000
2009-06-22T00:00:00.000000000
2009-06-21T00:00:00.000000000
2009-06-20T00:00:00.000000000
2009-06-19T00:00:00.000000000
2009-06-18T00:00:00.000000000
2009-06-17T00:00:00.000000000
2009-06-16T00:00:00.000000000
2009-06-15T00:00:00.000000000
2009-06-14T00:00:00.000000000
2009-06-13T00:00:00.000000000
2009-06-12T00:00:00.000000000
2009-06-11T00:00:00.000000000
2009-06-10T00:00:00.000000000
2009-06-09T00:00:00.000000000
2009-06-08T00:00:00.000000000
2009-06-07T00:00:00.000000000
2009-06-06T00:00:00.000000000
2009-06-05T00:00:00.000000000
2009-06-04T00:00:00.000000000
2009-06-03T00:00:00.000000000
2009-06-02T00:00:00.000000000
2009-06-01T00:00:00.000000000
2009-05-31T00:00:00.000000000
2009-05-30T00:00:00.000000000
2009-05-29T00:00:00.000000000
2009-05-28T00:00:00.000000000
2009-05-27T00:00:00.000000000
2009-05-26T00:00:00.000000000
2009-05-25T00:00:00.000000000
2009-05-24T00:00:00.000000000
2009-05-23T00:00:00.000000000
2009-05-22T00:00:00.000000000
2009-05-21T00:00:00.000000000
2009-05-20T00:00:00.000000000
2009-05-19T00:00:00.000000000
2009-05-18T00:00:00.000000000
2009-05-17T00:00:00.000000000
2009-05-16T00:00:00.000000000
2009-05-15T00:00:00.000000000
2009-05-14T00:00:00.000000000
2009-05-13T00:00:00.000000000
2009-05-12T00:00:00.000000000
2009-05-11T00:00:00.000000000
2009-05-10T00:00:00.000000000
2009-05-09T00:00:00.000000000
2009-05-08T00:00:00.000000000
2009-05-07T00:00:00.000000000
2009-05-06T00:00:00.000000000
2009-05-05T00:00:00.000000000
2009-05-04T00:00:00.000000000
2009-05-03T00:00:00.000000000
2009-05-02T00:00:00.000000000
2009-05-01T00:00:00.000000000
2009-04-30T00:00:00.000000000
2009-04-29T00:00:00.000000000
2009-04-28T00:00:00.000000000
2009-04-27T00:00:00.000000000
2009-04-26T00:00:00.000000000
2009-04-25T00:00:00.000000000
2009-04-24T00:00:00.000000000
2009-04-23T00:00:00.000000000
2009-04-22T00:00:00.000000000
2009-04-21T00:00:00.000000000
2009-04-20T00:00:00.000000000
2009-04-19T00:00:00.000000000
2009-04-18T00:00:00.000000000
2009-04-17T00:00:00.000000000
2009-04-16T00:00:00.000000000
2009-04-15T00:00:00.000000000
2009-04-14T00:00:00.000000000
2009-04-13T00:00:00.000000000
2009-04-12T00:00:00.000000000
2009-04-11T00:00:00.000000000
2009-04-10T00:00:00.000000000
2009-04-09T00:00:00.000000000
2009-04-08T00:00:00.000000000
2009-04-07T00:00:00.000000000
2009-04-06T00:00:00.000000000
2009-04-05T00:00:00.000000000
2009-04-04T00:00:00.000000000
2009-04-03T00:00:00.000000000
2009-04-02T00:00:00.000000000
2009-04-01T00:00:00.000000000
2009-03-31T00:00:00.000000000
2009-03-30T00:00:00.000000000
2009-03-29T00:00:00.000000000
2009-03-28T00:00:00.000000000
2009-03-27T00:00:00.000000000
2009-03-26T00:00:00.000000000
2009-03-25T00:00:00.000000000
2009-03-24T00:00:00.000000000
2009-03-23T00:00:00.000000000
2009-03-22T00:00:00.000000000
2009-03-21T00:00:00.000000000
2009-03-20T00:00:00.000000000
2009-03-19T00:00:00.000000000
2009-03-18T00:00:00.000000000
2009-03-17T00:00:00.000000000
2009-03-16T00:00:00.000000000
2009-03-15T00:00:00.000000000
2009-03-14T00:00:00.000000000
2009-03-13T00:00:00.000000000
2009-03-12T00:00:00.000000000
2009-03-11T00:00:00.000000000
2009-03-10T00:00:00.000000000
2009-03-09T00:00:00.000000000
2009-03-08T00:00:00.000000000
2009-03-07T00:00:00.000000000
2009-03-06T00:00:00.000000000
2009-03-05T00:00:00.000000000
2009-03-04T00:00:00.000000000
2009-03-03T00:00:00.000000000
2009-03-02T00:00:00.000000000
2009-03-01T00:00:00.000000000
2009-02-28T00:00:00.000000000
2009-02-27T00:00:00.000000000
2009-02-26T00:00:00.000000000
2009-02-25T00:00:00.000000000
2009-02-24T00:00:00.000000000
2009-02-23T00:00:00.000000000
2009-02-22T00:00:00.000000000
2009-02-21T00:00:00.000000000
2009-02-20T00:00:00.000000000
2009-02-19T00:00:00.000000000
2009-02-18T00:00:00.000000000
2009-02-17T00:00:00.000000000
2009-02-16T00:00:00.000000000
2009-02-15T00:00:00.000000000
2009-02-14T00:00:00.000000000
2009-02-13T00:00:00.000000000
2009-02-12T00:00:00.000000000
2009-02-11T00:00:00.000000000
2009-02-10T00:00:00.000000000
2009-02-09T00:00:00.000000000
2009-02-08T00:00:00.000000000
2009-02-07T00:00:00.000000000
2009-02-06T00:00:00.000000000
2009-02-05T00:00:00.000000000
2009-02-04T00:00:00.000000000
2009-02-03T00:00:00.000000000
2009-02-02T00:00:00.000000000
2009-02-01T00:00:00.000000000
2009-01-31T00:00:00.000000000
2009-01-30T00:00:00.000000000
2009-01-29T00:00:00.000000000
2009-01-28T00:00:00.000000000
2009-01-27T00:00:00.000000000
2009-01-26T00:00:00.000000000
2009-01-25T00:00:00.000000000
2009-01-24T00:00:00.000000000
2009-01-23T00:00:00.000000000
2009-01-22T00:00:00.000000000
2009-01-21T00:00:00.000000000
2009-01-20T00:00:00.000000000
2009-01-19T00:00:00.000000000
2009-01-18T00:00:00.000000000
2009-01-17T00:00:00.000000000
2009-01-16T00:00:00.000000000
2009-01-15T00:00:00.000000000
2009-01-14T00:00:00.000000000
2009-01-13T00:00:00.000000000
2009-01-12T00:00:00.000000000
2009-01-11T00:00:00.000000000
2009-01-10T00:00:00.000000000
2009-01-09T00:00:00.000000000
2009-01-08T00:00:00.000000000
2009-01-07T00:00:00.000000000
2009-01-06T00:00:00.000000000
2009-01-05T00:00:00.000000000
2009-01-04T00:00:00.000000000
2009-01-03T00:00:00.000000000
2009-01-02T00:00:00.000000000
2009-01-01T00:00:00.000000000
2008-12-31T00:00:00.000000000
2008-12-30T00:00:00.000000000
2008-12-29T00:00:00.000000000
2008-12-28T00:00:00.000000000
2008-12-27T00:00:00.000000000
2008-12-26T00:00:00.000000000
2008-12-25T00:00:00.000000000
2008-12-24T00:00:00.000000000
2008-12-23T00:00:00.000000000
2008-12-22T00:00:00.000000000
2008-12-21T00:00:00.000000000
2008-12-20T00:00:00.000000000
2008-12-19T00:00:00.000000000
2008-12-18T00:00:00.000000000
2008-12-17T00:00:00.000000000
2008-12-16T00:00:00.000000000
2008-12-15T00:00:00.000000000
2008-12-14T00:00:00.000000000
2008-12-13T00:00:00.000000000
2008-12-12T00:00:00.000000000
2008-12-11T00:00:00.000000000
2008-12-10T00:00:00.000000000
2008-12-09T00:00:00.000000000
2008-12-08T00:00:00.000000000
2008-12-07T00:00:00.000000000
2008-12-06T00:00:00.000000000
2008-12-05T00:00:00.000000000
2008-12-04T00:00:00.000000000
2008-12-03T00:00:00.000000000
2008-12-02T00:00:00.000000000
2008-12-01T00:00:00.000000000
2008-11-30T00:00:00.000000000
2008-11-29T00:00:00.000000000
2008-11-28T00:00:00.000000000
2008-11-27T00:00:00.000000000
2008-11-26T00:00:00.000000000
2008-11-25T00:00:00.000000000
2008-11-24T00:00:00.000000000
2008-11-23T00:00:00.000000000
2008-11-22T00:00:00.000000000
2008-11-21T00:00:00.000000000
2008-11-20T00:00:00.000000000
2008-11-19T00:00:00.000000000
2008-11-18T00:00:00.000000000
2008-11-17T00:00:00.000000000
2008-11-16T00:00:00.000000000
2008-11-15T00:00:00.000000000
2008-11-14T00:00:00.000000000
2008-11-13T00:00:00.000000000
2008-11-12T00:00:00.000000000
2008-11-11T00:00:00.000000000
2008-11-10T00:00:00.000000000
2008-11-09T00:00:00.000000000
2008-11-08T00:00:00.000000000
2008-11-07T00:00:00.000000000
2008-11-06T00:00:00.000000000
2008-11-05T00:00:00.000000000
2008-11-04T00:00:00.000000000
2008-11-03T00:00:00.000000000
2008-11-02T00:00:00.000000000
2008-11-01T00:00:00.000000000
2008-10-31T00:00:00.000000000
2008-10-30T00:00:00.000000000
2008-10-29T00:00:00.000000000
2008-10-28T00:00:00.000000000
2008-10-27T00:00:00.000000000
2008-10-26T00:00:00.000000000
2008-10-25T00:00:00.000000000
2008-10-24T00:00:00.000000000
2008-10-23T00:00:00.000000000
2008-10-22T00:00:00.000000000
2008-10-21T00:00:00.000000000
2008-10-20T00:00:00.000000000
2008-10-19T00:00:00.000000000
2008-10-18T00:00:00.000000000
2008-10-17T00:00:00.000000000
2008-10-16T00:00:00.000000000
2008-10-15T00:00:00.000000000
2008-10-14T00:00:00.000000000
2008-10-13T00:00:00.000000000
2008-10-12T00:00:00.000000000
2008-10-11T00:00:00.000000000
2008-10-10T00:00:00.000000000
2008-10-09T00:00:00.000000000
2008-10-08T00:00:00.000000000
2008-10-07T00:00:00.000000000
2008-10-06T00:00:00.000000000
2008-10-05T00:00:00.000000000
2008-10-04T00:00:00.000000000
2008-10-03T00:00:00.000000000
2008-10-02T00:00:00.000000000
2008-10-01T00:00:00.000000000
2008-09-30T00:00:00.000000000
2008-09-29T00:00:00.000000000
2008-09-28T00:00:00.000000000
2008-09-27T00:00:00.000000000
2008-09-26T00:00:00.000000000
2008-09-25T00:00:00.000000000
2008-09-24T00:00:00.000000000
2008-09-23T00:00:00.000000000
2008-09-22T00:00:00.000000000
2008-09-21T00:00:00.000000000
2008-09-20T00:00:00.000000000
2008-09-19T00:00:00.000000000
2008-09-18T00:00:00.000000000
2008-09-17T00:00:00.000000000
2008-09-16T00:00:00.000000000
2008-09-15T00:00:00.000000000
2008-09-14T00:00:00.000000000
2008-09-13T00:00:00.000000000
2008-09-12T00:00:00.000000000
2008-09-11T00:00:00.000000000
2008-09-10T00:00:00.000000000
2008-09-09T00:00:00.000000000
2008-09-08T00:00:00.000000000
2008-09-07T00:00:00.000000000
2008-09-06T00:00:00.000000000
2008-09-05T00:00:00.000000000
2008-09-04T00:00:00.000000000
2008-09-03T00:00:00.000000000
2008-09-02T00:00:00.000000000
2008-09-01T00:00:00.000000000
2008-08-31T00:00:00.000000000
2008-08-30T00:00:00.000000000
2008-08-29T00:00:00.000000000
2008-08-28T00:00:00.000000000
2008-08-27T00:00:00.000000000
2008-08-26T00:00:00.000000000
2008-08-25T00:00:00.000000000
2008-08-24T00:00:00.000000000
2008-08-23T00:00:00.000000000
2008-08-22T00:00:00.000000000
2008-08-21T00:00:00.000000000
2008-08-20T00:00:00.000000000
2008-08-19T00:00:00.000000000
2008-08-18T00:00:00.000000000
2008-08-17T00:00:00.000000000
2008-08-16T00:00:00.000000000
2008-08-15T00:00:00.000000000
2008-08-14T00:00:00.000000000
2008-08-13T00:00:00.000000000
2008-08-12T00:00:00.000000000
2008-08-11T00:00:00.000000000
2008-08-10T00:00:00.000000000
2008-08-09T00:00:00.000000000
2008-08-08T00:00:00.000000000
2008-08-07T00:00:00.000000000
2008-08-06T00:00:00.000000000
2008-08-05T00:00:00.000000000
2008-08-04T00:00:00.000000000
2008-08-03T00:00:00.000000000
2008-08-02T00:00:00.000000000
2008-08-01T00:00:00.000000000
2008-07-31T00:00:00.000000000
2008-07-30T00:00:00.000000000
2008-07-29T00:00:00.000000000
2008-07-28T00:00:00.000000000
2008-07-27T00:00:00.000000000
2008-07-26T00:00:00.000000000
2008-07-25T00:00:00.000000000
2008-07-24T00:00:00.000000000
2008-07-23T00:00:00.000000000
2008-07-22T00:00:00.000000000
2008-07-21T00:00:00.000000000
2008-07-20T00:00:00.000000000
2008-07-19T00:00:00.000000000
2008-07-18T00:00:00.000000000
2008-07-17T00:00:00.000000000
2008-07-16T00:00:00.000000000
2008-07-15T00:00:00.000000000
2008-07-14T00:00:00.000000000
2008-07-13T00:00:00.000000000
2008-07-12T00:00:00.000000000
2008-07-11T00:00:00.000000000
2008-07-10T00:00:00.000000000
2008-07-09T00:00:00.000000000
2008-07-08T00:00:00.000000000
2008-07-07T00:00:00.000000000
2008-07-06T00:00:00.000000000
2008-07-05T00:00:00.000000000
2008-07-04T00:00:00.000000000
2008-07-03T00:00:00.000000000
2008-07-02T00:00:00.000000000
2008-07-01T00:00:00.000000000
2008-06-30T00:00:00.000000000
2008-06-29T00:00:00.000000000
2008-06-28T00:00:00.000000000
2008-06-27T00:00:00.000000000
2008-06-26T00:00:00.000000000
2008-06-25T00:00:00.000000000
2008-06-24T00:00:00.000000000
2008-06-23T00:00:00.000000000
2008-06-22T00:00:00.000000000
2008-06-21T00:00:00.000000000
2008-06-20T00:00:00.000000000
2008-06-19T00:00:00.000000000
2008-06-18T00:00:00.000000000
2008-06-17T00:00:00.000000000
2008-06-16T00:00:00.000000000
2008-06-15T00:00:00.000000000
2008-06-14T00:00:00.000000000
2008-06-13T00:00:00.000000000
2008-06-12T00:00:00.000000000
2008-06-11T00:00:00.000000000
2008-06-10T00:00:00.000000000
2008-06-09T00:00:00.000000000
2008-06-08T00:00:00.000000000
2008-06-07T00:00:00.000000000
2008-06-06T00:00:00.000000000
2008-06-05T00:00:00.000000000
2008-06-04T00:00:00.000000000
2008-06-03T00:00:00.000000000
2008-06-02T00:00:00.000000000
2008-06-01T00:00:00.000000000
2008-05-31T00:00:00.000000000
2008-05-30T00:00:00.000000000
2008-05-29T00:00:00.000000000
2008-05-28T00:00:00.000000000
2008-05-27T00:00:00.000000000
2008-05-26T00:00:00.000000000
2008-05-25T00:00:00.000000000
2008-05-24T00:00:00.000000000
2008-05-23T00:00:00.000000000
2008-05-22T00:00:00.000000000
2008-05-21T00:00:00.000000000
2008-05-20T00:00:00.000000000
2008-05-19T00:00:00.000000000
2008-05-18T00:00:00.000000000
2008-05-17T00:00:00.000000000
2008-05-16T00:00:00.000000000
2008-05-15T00:00:00.000000000
2008-05-14T00:00:00.000000000
2008-05-13T00:00:00.000000000
2008-05-12T00:00:00.000000000
2008-05-11T00:00:00.000000000
2008-05-10T00:00:00.000000000
2008-05-09T00:00:00.000000000
2008-05-08T00:00:00.000000000
2008-05-07T00:00:00.000000000
2008-05-06T00:00:00.000000000
2008-05-05T00:00:00.000000000
2008-05-04T00:00:00.000000000
2008-05-03T00:00:00.000000000
2008-05-02T00:00:00.000000000
2008-05-01T00:00:00.000000000
2008-04-30T00:00:00.000000000
2008-04-29T00:00:00.000000000
2008-04-28T00:00:00.000000000
2008-04-27T00:00:00.000000000
2008-04-26T00:00:00.000000000
2008-04-25T00:00:00.000000000
2008-04-24T00:00:00.000000000
2008-04-23T00:00:00.000000000
2008-04-22T00:00:00.000000000
2008-04-21T00:00:00.000000000
2008-04-20T00:00:00.000000000
2008-04-19T00:00:00.000000000
2008-04-18T00:00:00.000000000
2008-04-17T00:00:00.000000000
2008-04-16T00:00:00.000000000
2008-04-15T00:00:00.000000000
2008-04-14T00:00:00.000000000
2008-04-13T00:00:00.000000000
2008-04-12T00:00:00.000000000
2008-04-11T00:00:00.000000000
2008-04-10T00:00:00.000000000
2008-04-09T00:00:00.000000000
2008-04-08T00:00:00.000000000
2008-04-07T00:00:00.000000000
2008-04-06T00:00:00.000000000
2008-04-05T00:00:00.000000000
2008-04-04T00:00:00.000000000
2008-04-03T00:00:00.000000000
2008-04-02T00:00:00.000000000
2008-04-01T00:00:00.000000000
2008-03-31T00:00:00.000000000
2008-03-30T00:00:00.000000000
2008-03-29T00:00:00.000000000
2008-03-28T00:00:00.000000000
2008-03-27T00:00:00.000000000
2008-03-26T00:00:00.000000000
2008-03-25T00:00:00.000000000
2008-03-24T00:00:00.000000000
2008-03-23T00:00:00.000000000
2008-03-22T00:00:00.000000000
2008-03-21T00:00:00.000000000
2008-03-20T00:00:00.000000000
2008-03-19T00:00:00.000000000
2008-03-18T00:00:00.000000000
2008-03-17T00:00:00.000000000
2008-03-16T00:00:00.000000000
2008-03-15T00:00:00.000000000
2008-03-14T00:00:00.000000000
2008-03-13T00:00:00.000000000
2008-03-12T00:00:00.000000000
2008-03-11T00:00:00.000000000
2008-03-10T00:00:00.000000000
2008-03-09T00:00:00.000000000
2008-03-08T00:00:00.000000000
2008-03-07T00:00:00.000000000
2008-03-06T00:00:00.000000000