In [ ]:
from selenium import webdriver

browser =webdriver.Chrome("C:/Users/ander/Downloads/chromedriver_win32/chromedriver.exe") # define path to your chromedriver

tickers={'MAERSK_A':'CSE3200','MAERSK_B':'CSE3201','CARL_B':'CSE1596','CHR':'CSE75663' ,\
         'COLO_B':'CSE3203','DANSKE':'CSE1586','DSV':'CSE3415','FLS':'CSE3207','GEN':'CSE11143',\
         'GN':'CSE3205','ISS':'CSE80901','JYSK':'CSE1587','NDA_DKK':'CSE4861','NOVO_B':'CSE1158',\
         'NZYM_B':'CSE11273','PNDORA':'CSE77855','TRYG':'CSE31315','VWS':'CSE3258','WDH':'CSE3247'}

for i in tickers:
    urlblok=tickers.get(i)
    nasdurl='http://www.nasdaqomxnordic.com/aktier/microsite?Instrument=' + str(urlblok)
    browser.get(nasdurl) # opens a webpage using the browser objects get method.
    selector = '.showHistory > span:nth-child(1)' # define selector to the email field
    element = browser.find_element_by_css_selector(selector) # find this element using the .find_element_by_css_selector method
    element.click()
    selector='#fromDate'
    element = browser.find_element_by_css_selector(selector)
    startdate='2006-01-02'
    element.send_keys(startdate) # send the data
    selector='#btnUpdate > span:nth-child(1)'
    element=browser.find_element_by_css_selector(selector)
    element.click()
    selector='#exportExcel'
    element=browser.find_element_by_css_selector(selector)
    element.click()

In [94]:
import pandas as pd
tickers={'MAERSK_A':'CSE3200','MAERSK_B':'CSE3201','CARL_B':'CSE1596','CHR':'CSE75663'}

path_csv="C:/Users/ander/Downloads/"

for i in tickers:
    nasd_csv=path_csv +str(i)+ "-2006-01-02-2018-08-25.csv"
    df= pd.read_csv(nasd_csv,sep=";",header=1)
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)
    df_r=df.iloc[:,0:-1]
    exec('df_{} = df_r'.format(i))

df_MAERSK_A

#len(df_MAERSK_A.append(df_MAERSK_B))

,Bid,Ask,Opening price,High price,Low price,Closing price,Average price,Total volume,Turnover,Trades
Date,,,,,,,,,,
2018-08-24,"8800,00","8815,00","8525,00","8825,00","8525,00","8805,00","8778,666",3820.0,33529680,696
2018-08-23,"8600,00","8610,00","8645,00","8720,00","8565,00","8595,00","8611,419",9499.0,81802645,1702
2018-08-22,"8695,00","8710,00","8515,00","8730,00","8515,00","8690,00","8656,554",5533.0,"47894022,5",1582
2018-08-21,"8510,00","8515,00","8450,00","8620,00","8375,00","8505,00","8532,657",4415.0,"37673145,49",1187
2018-08-20,"8510,00","8515,00","8350,00","8560,00","8300,00","8480,00","8454,222",4572.0,"38650552,5",1122
2018-08-17,"8245,00","8270,00","8310,00","8500,00","8225,00","8295,00","8353,663",7128.0,"59546372,5",1628
2018-08-16,"8080,00","8100,00","8105,00","8115,00","7985,00","8110,00","8044,201",3670.0,29522180,862
2018-08-15,"7990,00","7995,00","8205,00","8205,00","7965,00","7995,00","8043,288",4008.0,32236505,975
2018-08-14,"8135,00","8150,00","8345,00","8375,00","8125,00","8165,00","8206,684",3440.0,"28232092,5",791
2018-08-13,"8280,00","8295,00","8400,00","8515,00","8255,00","8270,00","8310,383",3157.0,"26238010,3",955
2018-08-10,"8530,00","8550,00","8830,00","8830,00","8430,00","8510,00","8537,993",4341.0,"37069842,5",1150
2018-08-09,"8840,00","8850,00","8750,00","8910,00","8710,00","8860,00","8795,826",6687.0,58814755,1845
2018-08-08,"8760,00","8775,00","8530,00","8815,00","8465,00","8760,00","8649,126",10785.0,"93270312,5",2864
2018-08-07,"8375,00","8395,00","7885,00","8400,00","7410,00","8400,00","8075,48",13610.0,109885920,2871
2018-08-06,"7930,00","7940,00","8170,00","8170,00","7885,00","7955,00","7949,463",4452.0,"35392017,5",1096
2018-08-03,"8070,00","8085,00","8300,00","8300,00","8065,00","8090,00","8163,912",2878.0,23499145,773
2018-08-02,"8220,00","8230,00","8300,00","8300,00","8190,00","8200,00","8225,468",3042.0,25023115,611
2018-08-01,"8405,00","8415,00","8510,00","8555,00","8310,00","8385,00","8393,868",5829.0,48931505,1562
2018-07-31,"8560,00","8580,00","8300,00","8625,00","8280,00","8575,00","8471,216",13084.0,110836405,3344
2018-07-30,"8240,00","8250,00","8320,00","8320,00","8225,00","8255,00","8271,482",5144.0,"42547777,5",1296
2018-07-27,"8300,00","8310,00","8255,00","8430,00","8210,00","8300,00","8342,337",3424.0,28559405,817
2018-07-26,"8180,00","8205,00","8190,00","8490,00","8185,00","8225,00","8374,954",14335.0,120052560,2611
2018-07-25,"8060,00","8070,00","7890,00","8090,00","7885,00","8070,00","8024,451",8489.0,"68114977,5",1787
2018-07-24,"7905,00","7920,00","7900,00","8020,00","7885,00","7930,00","7954,354",6799.0,54081565,1286
2018-07-23,"7870,00","7885,00","8100,00","8100,00","7845,00","7875,00","7901,657",4609.0,36422110,1190
2018-07-20,"8080,00","8095,00","8045,00","8100,00","7895,00","8100,00","8020,59",6148.0,49307460,1312
2018-07-19,"8055,00","8060,00","7845,00","8135,00","7815,00","8035,00","8027,537",6363.0,"51077737,5",1377
2018-07-18,"7845,00","7855,00","7685,00","7860,00","7645,00","7840,00","7772,533",3694.0,28711615,825
2018-07-17,"7660,00","7665,00","7560,00","7685,00","7555,00","7685,00","7629,017",3902.0,29767945,776
2018-07-16,"7495,00","7505,00","7670,00","7710,00","7480,00","7480,00","7564,498",3079.0,23291185,763
...,...,...,...,...,...,...,...,...,...,...
2006-02-10,0,0,0,"11420,00","11140,00","11200,00","11265,574",20045.0,"226156737,68",699
2006-02-09,0,0,0,"11680,00","11480,00","11500,00","11563,159",9520.0,"110137888,47",527
2006-02-08,0,0,0,"11800,00","11420,00","11780,00","11595,511",12020.0,"139470635,95",644
2006-02-07,0,0,0,"11840,00","11620,00","11680,00","11678,52",15130.0,"177041545,09",782
2006-02-06,0,0,0,"12080,00","11960,00","12020,00","12005,437",6305.0,"75860435,46",302
2006-02-03,0,0,0,"12380,00","12200,00","12240,00","12273,052",4370.0,"53816117,82",226
2006-02-02,0,0,0,"12480,00","12300,00","12400,00","12414,118",4105.0,50902953,215
2006-02-01,0,0,0,"12320,00","12040,00","12280,00","12238,022",6480.0,"79281141,14",252
2006-01-31,0,0,0,"12260,00","12000,00","12000,00","12104,843",7710.0,93396230,226
2006-01-30,0,0,0,"12320,00","12040,00","12240,00","12231,334",7530.0,"91994242,24",352
2006-01-27,0,0,0,"12100,00","11860,00","12100,00","11945,825",6370.0,"75720020,55",212
2006-01-26,0,0,0,"11880,00","11600,00","11700,00","11717,522",3670.0,"43005864,5",179
2006-01-25,0,0,0,"12100,00","11720,00","11720,00","11903,842",2545.0,30253000,192
2006-01-24,0,0,0,"11840,00","11680,00","11820,00","11784,685",4125.0,"48540154,88",195
2006-01-23,0,0,0,"11800,00","11460,00","11600,00","11624,046",5225.0,"60922999,55",326
2006-01-20,0,0,0,"12120,00","11720,00","11720,00","11874,668",9275.0,110241547,339
2006-01-19,0,0,0,"12260,00","12020,00","12080,00","12113,033",5390.0,"64983678,1",192
2006-01-18,0,0,0,"12140,00","11940,00","12080,00","12009,22",5205.0,"62570145,86",313
2006-01-17,0,0,0,"12440,00","12260,00","12280,00","12356,25",2260.0,"27982599,6",102
2006-01-16,0,0,0,"12480,00","12320,00","12460,00","12379,804",1645.0,"20376673,17",101
2006-01-13,0,0,0,"12540,00","12440,00","12440,00","12483,155",2455.0,30680300,125
2006-01-12,0,0,0,"12660,00","12440,00","12660,00","12547,589",4690.0,"58740204,89",162
2006-01-11,0,0,0,"12500,00","12240,00","12460,00","12442,481",3565.0,"44164128,62",197
2006-01-10,0,0,0,"12380,00","12120,00","12200,00","12211,801",6475.0,"79128572,04",331
2006-01-09,0,0,0,"12500,00","12320,00","12380,00","12376,289",5060.0,"62730295,63",352
2006-01-06,0,0,0,"12660,00","12420,00","12460,00","12501,634",8040.0,100801400,430
2006-01-05,0,0,0,"13000,00","12420,00","12860,00","12746,117",5455.0,"69588248,37",294
2006-01-04,0,0,0,"13200,00","12900,00","12960,00","13032,525",4820.0,"62806773,63",253
2006-01-03,0,0,0,"13160,00","12820,00","12980,00","13022,269",6020.0,"78293605,34",301
2006-01-02,0,0,0,"12960,00","12640,00","12940,00","12829,847",4770.0,"61090031,53",329